<article>
        <h2>Events</h2>
        <article class="equalize" data-pattern="2">
          <h3>Axis Events</h3>
          <section>Hello</section>
          <section>Code sample</section>
        </article>
        <article class="equalize" data-pattern="2">
          <h3>Context Events</h3>
          <section>Hello</section>
          <section>Code sample</section>
        </article>
      </article>

      <article>
        <h2>Intent Objects</h2>
        <article>
          <h3 alt="Current Context">Identifying the Current Context</h3>
          <section>This section</section>
          <section>This code sample</section>
        </article>
        <article>
          <h3 alt="List of Axes">Returning a List of Axes</h3>
          <section>This section</section>
          <section>This code sample</section>
        </article>
        <article>
          <h3 alt="List of Contexts">Returning a List of Contexts</h3>
          <section>This section</section>
          <section>This code sample</section>
        </article>
      </article>

      <article>
        <h2 alt="Custom Contexts">Custom Contexts</h2>
        <article>
          <h3 alt="Current Context">Current Context</h3>
          <section>This section</section>
          <section>This code sample</section>
        </article>
      </article>

      <article class="equalize" data-pattern="2">
        <h2>Wrap Up</h2>
      </article>
