h1 {
  font-size: 48px;
  font-weight: bold;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 26px;
  font-weight: normal;
  line-height: 35px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 22px;
}
.mobile h1 {
  font-size: 40px;
  font-weight: bold;
}
.mobile h2 {
  font-size: 24px;
}
.mobile h3 {
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
}
.mobile h4 {
  font-size: 22px;
}
.mobile h5 {
  font-size: 19px;
}
pre {
  color: #bac6cc;
  white-space: pre;
}
pre .comment {
  color: #516065;
}
code {
  color: #bac6cc;
  padding: 0 3px 0 3px;
  margin: 0 2px 0 2px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px double #d7dcdb;
  box-sizing: border-box;
  background: #182c33;
  word-break: keep-all;
}
.highlight .comment {
  color: #6fa86f;
}
p {
  line-height: 24px;
}
h1 + p,
h2 + p,
h3 + p,
h4 + p,
p + p {
  margin-top: 5px;
}
p + p {
  text-indent: 16px;
}
.colPadding {
  padding-left: 80px;
  padding-right: 80px;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.clear {
  clear: both;
}
html,
body {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}
body {
  background: #c8c8c8 url('../../images/pagebg.png') fixed;
}
html.landscape,
body.landscape {
  font-size: 25% !important;
}
a,
a:visited {
  color: #ea865a;
}
#center.standard.pseudomobile,
#center.standard.pseudosmalltablet,
#center.standard.pseudotablet {
  width: 100%;
  left: 50%;
  top: 81px;
  margin-left: -50%;
  position: fixed;
}
#all {
  height: 100%;
  margin: auto;
  background: #203b44;
  color: #352f29;
  font-size: 16px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 1px transparent;
  position: relative;
}
#all.pseudomobile,
#all.pseudosmalltablet,
#all.pseudotablet {
  margin: auto;
  overflow: auto;
  top: 81px;
}
#all.pseudomobile {
  width: 320px;
  height: 480px;
}
#all.pseudosmalltablet {
  width: 600px;
  height: 800px;
}
#all.pseudotablet {
  width: 780px;
  height: 1024px;
}
#all.pseudohdtv {
  width: 1920px;
  height: 1080px;
  padding-top: 46px;
}
header {
  width: 100%;
  background: #d7dcdb;
}
header nav {
  background: #f4f1ea;
  border-bottom: 13px solid #ea865a;
}
header nav a,
header nav a:visited {
  color: #352f29;
  text-decoration: none;
  font-weight: normal;
}
header nav li {
  list-style: none;
  display: inline-block;
  padding: 6px 0 6px 0;
}
header nav li + li {
  margin-left: 20px;
}
header.standard h1,
header.hdtv h1 {
  width: 780px;
  padding: 10px 20px 10px 20px;
  margin: auto;
  font-size: 48px;
}
header.standard nav,
header.hdtv nav {
  width: 780px;
  padding: 0 20px 0 20px;
  margin: auto;
  font-size: 19px;
}
header.standard nav li,
header.hdtv nav li {
  height: 25px;
}
header.tablet h1,
header.pseudotablet h1,
header.standard.landscape h1,
header.tablet nav,
header.pseudotablet nav,
header.standard.landscape nav {
  width: auto;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}
header.mobile,
header.pseudomobile,
header.smalltablet,
header.pseudosmalltablet {
  box-sizing: border-box;
}
header.mobile h1,
header.pseudomobile h1,
header.smalltablet h1,
header.pseudosmalltablet h1 {
  width: auto;
  padding: 0 20px 0 20px;
  font-size: 40px;
}
header.mobile nav,
header.pseudomobile nav,
header.smalltablet nav,
header.pseudosmalltablet nav {
  padding: 0 20px 0 20px;
  width: auto;
  font-size: 13px;
}
header.mobile nav li,
header.pseudomobile nav li,
header.smalltablet nav li,
header.pseudosmalltablet nav li {
  height: 18px;
}
#splash {
  width: 100%;
  background: #bac6cc url('../../images/headerbg.png') repeat-x top;
}
#splash .inner {
  background-color: #ea865a;
  background-image: url('../../images/mezz.png'), url('../../images/splashbg.png'), url('../../images/splashbg-bottom.png');
  background-repeat: repeat, repeat-x, repeat-x;
  background-position: top, top, bottom;
  color: #f9efd4;
}
#splash .inner section#buttons {
  text-align: center;
}
#splash .inner section#buttons a,
#splash .inner section#buttons a:visited {
  color: #f9efd4;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}
#splash .inner section#buttons #download {
  background: #589358;
}
#splash .inner section#buttons #github {
  background: #38748e;
}
#splash.standard .inner {
  width: 780px;
  margin: auto;
  padding: 0 20px 0 20px;
}
#splash.standard .inner section {
  width: 50%;
  float: left;
  padding: 20px 0 25px 0;
  box-sizing: border-box;
}
#splash.standard .inner section#buttons {
  padding-top: 70px;
}
#splash.standard .inner section#buttons div {
  width: 220px;
  margin: auto;
  padding: 10px;
  text-align: center;
}
#splash.standard .inner section#buttons div + div {
  margin-top: 20px;
}
#splash.tablet .inner,
#splash.pseudotablet .inner,
#splash.standard.landscape .inner {
  width: auto;
  box-sizing: border-box;
  margin: 0 10px 0 10px;
  padding: 0px 10px 10px 10px;
}
#splash.tablet .inner section,
#splash.pseudotablet .inner section,
#splash.standard.landscape .inner section {
  width: 50%;
  float: left;
  padding: 20px 0 25px 0;
  box-sizing: border-box;
}
#splash.tablet .inner section#buttons,
#splash.pseudotablet .inner section#buttons,
#splash.standard.landscape .inner section#buttons {
  width: 50%;
  padding-top: 70px;
}
#splash.tablet .inner section#buttons div,
#splash.pseudotablet .inner section#buttons div,
#splash.standard.landscape .inner section#buttons div {
  width: 220px;
  margin: auto;
  padding: 10px;
  text-align: center;
}
#splash.tablet .inner section#buttons div + div,
#splash.pseudotablet .inner section#buttons div + div,
#splash.standard.landscape .inner section#buttons div + div {
  margin-top: 20px;
}
#splash.mobile .inner,
#splash.pseudomobile .inner,
#splash.smalltablet .inner,
#splash.pseudosmalltablet .inner {
  width: auto;
  box-sizing: border-box;
  margin: 0 10px 0 10px;
  padding: 20px 10px 10px 10px;
}
#splash.mobile .inner section,
#splash.pseudomobile .inner section,
#splash.smalltablet .inner section,
#splash.pseudosmalltablet .inner section {
  width: auto;
  padding: 0;
}
#splash.mobile .inner section + section,
#splash.pseudomobile .inner section + section,
#splash.smalltablet .inner section + section,
#splash.pseudosmalltablet .inner section + section {
  margin-top: 20px;
}
#splash.mobile .inner section#buttons,
#splash.pseudomobile .inner section#buttons,
#splash.smalltablet .inner section#buttons,
#splash.pseudosmalltablet .inner section#buttons {
  padding-top: 0px;
  padding-bottom: 10px;
}
#splash.mobile .inner section#buttons div,
#splash.pseudomobile .inner section#buttons div,
#splash.smalltablet .inner section#buttons div,
#splash.pseudosmalltablet .inner section#buttons div {
  margin: 0 10px 0 10px;
  padding: 10px;
}
#splash.mobile .inner section#buttons div + div,
#splash.pseudomobile .inner section#buttons div + div,
#splash.smalltablet .inner section#buttons div + div,
#splash.pseudosmalltablet .inner section#buttons div + div {
  margin-top: 10px;
}
#splash.pseudomobile section#buttons,
#splash.pseudosmalltablet section#buttons {
  width: 100% !important;
}
#splash.pseudomobile section#buttons div,
#splash.pseudosmalltablet section#buttons div {
  width: auto !important;
}
body > #try {
  width: 100%;
  height: 46px;
  position: fixed;
  background: #203b44;
  background-image: url('../../images/docubg.png');
  background-repeat: repeat, repeat-x;
  background-position: top, top;
  color: #f9efd4;
  border-bottom: 3px solid #38748e;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  overflow: hidden;
  z-index: 10;
}
body > #try .wrapper {
  width: 780px;
  margin: auto;
}
body > #try h2,
body > #try p,
body > #try div#devices {
  float: left;
}
body > #try h2 {
  font-size: 36px;
  margin: 2px 0 0 13px;
}
body > #try p {
  width: 150px;
  font-size: 13px;
  line-height: 15px;
  margin: 8px 0 0 15px;
  text-align: left;
}
body > #try #devices {
  margin: 5px 0 0 20px;
}
body > #try #devices div {
  width: 35px;
  height: 35px;
  float: left;
  background: url('../../images/devices-dark.svg') no-repeat;
  background-size: 148px 37px;
  cursor: pointer;
}
body > #try #devices div + div {
  margin-left: 8px;
}
body > #try #devices .toggleOrientation:hover {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  /* IE 9 */

  -webkit-transform: rotate(-90deg);
  /* Safari and Chrome */

}
body > #try #devices #pseudomobile {
  width: 12px;
  background-position: 0px;
}
body > #try #devices #pseudosmalltablet {
  width: 21px;
  background-position: -13px 0px;
}
body > #try #devices #pseudotablet {
  width: 26px;
  background-position: -35px 0px;
}
body > #try #devices #pseudohdtv {
  width: 47px;
  background-position: -62px 0px;
}
body > #try #devices #return {
  width: 18px;
  background-position: -110px 0px;
}
body > #try .cancel {
  width: 18px;
  height: 35px;
  background: url('../../images/devices-dark.svg') no-repeat;
  background-position: -129px 5px;
  background-size: 148px 37px;
  position: absolute;
  right: 13px;
}
#all #try.standard,
#heading {
  width: 100%;
  background: #bac6cc;
  text-align: center;
}
#all #try.standard .inner,
#heading .inner {
  width: 780px;
  margin: auto;
  padding: 20px;
  background: #f3c9be;
  background-image: url('../../images/mezz.png'), url('../../images/tryitbg.png');
  background-repeat: repeat, repeat-x;
  background-position: top, top;
  border-top: 20px solid #e26345;
}
#all #try.standard .inner h2,
#heading .inner h2 {
  text-align: center;
}
#all #try.standard .inner #devices,
#heading .inner #devices {
  position: relative;
  z-index: 2;
}
#all #try.standard .inner #devices div,
#heading .inner #devices div {
  height: 75px;
  background: url('../../images/devices.svg');
  background-size: 258px 74px;
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
}
#all #try.standard .inner #devices div + div,
#heading .inner #devices div + div {
  margin-left: 20px;
}
#all #try.standard .inner #devices #pseudomobile,
#heading .inner #devices #pseudomobile {
  width: 24px;
  background-position: 0 0;
}
#all #try.standard .inner #devices #pseudosmalltablet,
#heading .inner #devices #pseudosmalltablet {
  width: 42px;
  background-position: -26px 0px;
}
#all #try.standard .inner #devices #pseudotablet,
#heading .inner #devices #pseudotablet {
  width: 53px;
  background-position: -69px 1px;
}
#all #try.standard .inner #devices #pseudohdtv,
#heading .inner #devices #pseudohdtv {
  width: 94px;
  background-position: -124px 1px;
}
#all #try.standard .inner #devices .cancel,
#heading .inner #devices .cancel {
  display: none;
}
#heading h2 {
  padding: 0;
}
#heading.mobile .inner,
#heading.smalltablet .inner,
#heading.tablet .inner,
#heading.standard.pseudomobile .inner,
#heading.standard.pseudosmalltablet .inner,
#heading.standard.pseudotablet .inner {
  width: auto;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
}
#try h2 {
  padding: 0 0 20px 0;
}
#try.mobile,
#try.smalltablet,
#try.tablet {
  display: none;
}
#content {
  width: 100%;
  background: #203b44 url('../../images/docubg.png') repeat-x top;
  color: #f9efd4;
  border-top: 13px solid #38748e;
  position: relative;
}
#content pre {
  width: 100%;
  padding: 6px;
  border: 1px double #d7dcdb;
  box-sizing: border-box;
  background: #182c33;
}
#content p + pre,
#content pre + p {
  margin-top: 10px;
}
#content article article {
  clear: both;
  padding: 0px;
}
#content article.highlight {
  background: #7fb27f url('../../images/mezz.png') repeat;
  border-top: 13px solid #91bc91;
  color: #0c300c;
  z-index: 3;
}
#content article.highlight pre {
  background: #afcfaf;
  color: #325332;
  border: 3px solid #589358;
}
.docsLite.standard article {
  width: 780px;
  margin: auto;
  padding: 20px;
  position: relative;
}
.docsLite.standard article h2 {
  width: 100%;
  box-sizing: border-box;
  padding-right: 50%;
}
.docsLite.standard article section + h2 {
  padding-right: 0;
  padding-left: 50%;
}
.docsLite.standard article section {
  width: 50%;
  padding: 20px 13px 25px 0;
  float: left;
  box-sizing: border-box;
}
.docsLite.standard article section:nth-of-type(2n) {
  padding: 20px 0 20px 13px;
  float: right;
}
.docsLite.standard article article {
  padding: 0px;
}
.docsLite.standard article.highlight {
  width: 100%;
  padding: 20px 0px 20px 0;
}
.docsLite.standard article.highlight .inner {
  width: 780px;
  margin: auto;
  padding: 0 20px 0 20px;
}
.docsLite.standard article.thirds {
  padding: 0px;
}
.docsLite.standard article.thirds section {
  width: 33%;
  float: left;
}
.docsLite.standard article.thirds section:nth-child(3n-2),
.docsLite.standard article.thirds section:nth-child(3n-1) {
  padding-right: 13px;
}
.docsLite.standard article.thirds section:nth-child(3n-1) {
  padding-left: 13px;
  padding-right: 13px;
}
.docsLite.standard article.thirds section:nth-child(3n) {
  padding-left: 13px;
  padding-right: 0px;
}
#content.standard article {
  margin: auto;
  position: relative;
}
#content.tablet article,
#content.standard.pseudotablet article {
  width: auto;
  padding: 0 20px 0 20px;
  position: relative;
  box-sizing: border-box;
}
#content.tablet article section,
#content.standard.pseudotablet article section {
  width: 50%;
  padding: 20px 13px 25px 0;
  float: left;
  box-sizing: border-box;
}
#content.tablet article section:nth-of-type(2n),
#content.standard.pseudotablet article section:nth-of-type(2n) {
  padding: 20px 0 20px 13px;
  float: right;
}
#content.tablet article article,
#content.standard.pseudotablet article article {
  width: auto;
  padding: 0px;
}
#content.tablet article.highlight,
#content.standard.pseudotablet article.highlight {
  clear: both;
  padding: 20px 0px 0px 0px;
}
#content.tablet article.highlight .inner,
#content.standard.pseudotablet article.highlight .inner {
  width: 100%;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}
#content.tablet article.thirds section,
#content.standard.pseudotablet article.thirds section {
  width: 33%;
  float: left;
}
#content.tablet article.thirds section:nth-child(3n-2),
#content.standard.pseudotablet article.thirds section:nth-child(3n-2),
#content.tablet article.thirds section:nth-child(3n-1),
#content.standard.pseudotablet article.thirds section:nth-child(3n-1) {
  padding-right: 13px;
}
#content.tablet article.thirds section:nth-child(3n-1),
#content.standard.pseudotablet article.thirds section:nth-child(3n-1) {
  padding-left: 13px;
  padding-right: 13px;
}
#content.tablet article.thirds section:nth-child(3n),
#content.standard.pseudotablet article.thirds section:nth-child(3n) {
  padding-left: 13px;
  padding-right: 0px;
}
#content.mobile article,
#content.smalltablet article,
#content.pseudomobile article,
#content.pseudosmalltablet article {
  width: auto;
  padding: 0 20px 0 20px;
}
#content.mobile article section,
#content.smalltablet article section,
#content.pseudomobile article section,
#content.pseudosmalltablet article section,
#content.mobile article section:nth-child(2n),
#content.smalltablet article section:nth-child(2n),
#content.pseudomobile article section:nth-child(2n),
#content.pseudosmalltablet article section:nth-child(2n) {
  width: auto;
  padding: 0px;
  float: none;
}
#content.mobile article section + section,
#content.smalltablet article section + section,
#content.pseudomobile article section + section,
#content.pseudosmalltablet article section + section {
  margin-top: 20px;
}
#content.mobile article + article,
#content.smalltablet article + article,
#content.pseudomobile article + article,
#content.pseudosmalltablet article + article {
  margin-top: 20px;
}
.docsLite.mobile article,
.docsLite.pseudomobile article,
.docsLite.smalltablet article,
.docsLite.pseudosmalltablet article {
  width: auto;
  margin: 10px;
  padding: 20px 10px 20px 10px;
}
.docsLite.mobile article section,
.docsLite.pseudomobile article section,
.docsLite.smalltablet article section,
.docsLite.pseudosmalltablet article section,
.docsLite.mobile article section:nth-child(2n),
.docsLite.pseudomobile article section:nth-child(2n),
.docsLite.smalltablet article section:nth-child(2n),
.docsLite.pseudosmalltablet article section:nth-child(2n) {
  width: auto;
  padding: 0px;
  float: none;
}
.docsLite.mobile article section + section,
.docsLite.pseudomobile article section + section,
.docsLite.smalltablet article section + section,
.docsLite.pseudosmalltablet article section + section {
  margin-top: 15px;
}
.docsLite.mobile article article,
.docsLite.pseudomobile article article,
.docsLite.smalltablet article article,
.docsLite.pseudosmalltablet article article {
  padding: 0 !important;
  margin: 10px 0px 10px 0;
}
.docsLite.mobile article article section,
.docsLite.pseudomobile article article section,
.docsLite.smalltablet article article section,
.docsLite.pseudosmalltablet article article section {
  padding-left: 0;
  padding-right: 0;
}
.docsLite.mobile article article section + section,
.docsLite.pseudomobile article article section + section,
.docsLite.smalltablet article article section + section,
.docsLite.pseudosmalltablet article article section + section {
  margin-top: 5px;
}
.docsLite.mobile article h2,
.docsLite.pseudomobile article h2,
.docsLite.smalltablet article h2,
.docsLite.pseudosmalltablet article h2 {
  width: auto;
  padding-right: 0;
}
.docsLite.mobile article pre,
.docsLite.pseudomobile article pre,
.docsLite.smalltablet article pre,
.docsLite.pseudosmalltablet article pre {
  width: auto;
}
.docsLite.mobile article.highlight,
.docsLite.pseudomobile article.highlight,
.docsLite.smalltablet article.highlight,
.docsLite.pseudosmalltablet article.highlight {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 0px;
}
.docsLite.mobile article.highlight .inner,
.docsLite.pseudomobile article.highlight .inner,
.docsLite.smalltablet article.highlight .inner,
.docsLite.pseudosmalltablet article.highlight .inner {
  width: auto;
  padding: 20px 10px 20px 10px;
}
.docsLite.mobile article.thirds section,
.docsLite.pseudomobile article.thirds section,
.docsLite.smalltablet article.thirds section,
.docsLite.pseudosmalltablet article.thirds section,
.docsLite.mobile article.thirds section:nth-child(3n-1),
.docsLite.pseudomobile article.thirds section:nth-child(3n-1),
.docsLite.smalltablet article.thirds section:nth-child(3n-1),
.docsLite.pseudosmalltablet article.thirds section:nth-child(3n-1),
.docsLite.mobile article.thirds section:nth-child(3n),
.docsLite.pseudomobile article.thirds section:nth-child(3n),
.docsLite.smalltablet article.thirds section:nth-child(3n),
.docsLite.pseudosmalltablet article.thirds section:nth-child(3n) {
  width: auto;
  float: none;
  padding: 0px;
}
.docsLite.mobile article.thirds section + section,
.docsLite.pseudomobile article.thirds section + section,
.docsLite.smalltablet article.thirds section + section,
.docsLite.pseudosmalltablet article.thirds section + section {
  margin-top: 15px;
}
#content nav {
  height: 100%;
  padding-top: 20px;
  position: absolute;
  top: 0;
  z-index: 4;
  border-right: 3px solid #38748e;
  text-align: right;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#content nav h6 {
  width: 100%;
  padding: 6px 6px 6px 0;
  margin: 0 0 20px 0;
  background: #38748e;
  font-size: 14px;
  position: absolute;
  left: 100%;
}
#content nav li {
  margin-right: 3px;
  list-style: none;
  color: white;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#content nav li div {
  display: inline-block;
}
#content nav li .label {
  width: auto;
  padding-right: 7px;
}
#content nav li .circle {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 3px solid #ea865a;
  background: #203b44;
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -5px;
}
#content nav li .circle.active {
  background: #ea865a;
}
#content nav li a {
  color: white;
  text-decoration: none;
}
#content nav.standard,
#content nav.tablet.landscape {
  width: 150px;
  left: -140px;
}
#content nav.tablet,
#content nav.standard.pseudotablet {
  width: 25%;
  left: -24.5%;
  font-weight: bold;
}
#content nav.smalltablet,
#content nav.mobile,
#content nav.standard.pseudomobile,
#content nav.standard.pseudosmalltablet {
  width: 50%;
  left: -49%;
  font-weight: bold;
}
#content nav.active {
  left: 0 !important;
  background: #38748e;
  background: rgba(56, 116, 142, 0.75);
  border-right-color: #d0e0ef;
}
#content nav#docsNav li {
  position: relative;
}
#content nav#docsNav li + li {
  margin-top: 20px;
}
#docsNav.mobile li + li,
#docsNav.standard.pseudomobile li + li,
#docsNav.smalltablet li + li,
#docsNav.standard.pseudosmalltablet li + li {
  margin-top: 0;
}
#docsNav.fixed {
  position: fixed;
}
#docsNav.pseudomobile.fixed,
#docsNav.pseudosmalltablet.fixed,
#docsNav.pseudotablet.fixed {
  position: absolute;
}
.swipe {
  width: 100%;
  margin: 20px 0 0 0 !important;
  padding: 0 10px 0 10px !important;
}
.swipe section {
  width: 100%;
}
.swipe section pre {
  width: 100%;
}
#slidesContainer {
  overflow: hidden;
  height: 50px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#slidesContainer .slideInner section {
  margin: 0 !important;
  padding: 0 !important;
  float: left;
}
#slidesContainer .slideInner section + section {
  margin: 0 0 0 0 !important;
  padding: 0 !important;
}
.indicators {
  width: 100%;
  height: 15px;
  margin-top: 5px;
  text-align: center;
}
.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: #182c33;
  border: 2px solid #38748e;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.circle.active {
  background: #38748e;
}
.circle + .circle {
  margin-left: 3px;
}
footer {
  width: 100%;
  background: #38748e;
  text-align: center;
  color: #d0e0ef;
  z-index: 4;
  position: relative;
}
footer .inner {
  width: 50%;
  margin: auto;
  box-sizing: border-box;
}
footer h1 {
  font-size: 60px;
  font-weight: normal;
  color: #ea865a;
}
footer.standard .inner {
  width: 780px;
  margin: auto;
  padding: 10px 20px 20px 20px;
}
footer.mobile .inner,
footer.pseudomobile .inner,
footer.smalltablet .inner,
footer.pseudosmalltablet .inner,
footer.tablet .inner,
footer.pseudotablet .inner {
  width: auto;
  padding: 20px;
}
.no-multiplebgs #splash .inner {
  background: #ea865a url('../../images/splashbg.png') repeat-x top;
}
.no-multiplebgs #all.standard #try .inner {
  background: #f3c9be url('../../images/tryitbg.png') repeat-x top;
}
