.colMargin {
  margin: 0 20px 0 20px;
}
.colPadding {
  padding: 0 20px 0 20px;
}
.halfMargin {
  margin: 0 10px 0 10px;
}
.halfPadding {
  padding: 0 10px 0 10px;
}
.mobileWrapping {
  width: auto;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}
.noMarginWrapping {
  width: auto;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.clear {
  clear: both;
}
h1 {
  font-size: 48px;
  font-weight: bold;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 26px;
  font-weight: normal;
  line-height: 35px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 22px;
}
p {
  line-height: 24px;
}
.mobile h1 {
  font-size: 40px;
  font-weight: bold;
}
.mobile h2 {
  font-size: 24px;
}
.mobile h3 {
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
}
.mobile h4 {
  font-size: 22px;
}
.mobile h5 {
  font-size: 19px;
}
h1 + p,
h2 + p,
h3 + p,
h4 + p,
p + p {
  margin-top: 5px;
}
p + p {
  text-indent: 16px;
}
p + div.highlight,
div.highlight + p {
  margin-top: 10px;
}
p + pre,
pre + p {
  margin-top: 10px;
}
html,
body {
  font-size: 62.5%;
  height: 100%;
}
html.landscape,
body.landscape {
  font-size: 25% !important;
}
body {
  background: #c8c8c8 url('../../images/pagebg.png');
  font-family: Helvetica, Arial, sans-serif;
}
a,
a:visited {
  color: #bac6cc;
  text-decoration: none;
}
#all {
  height: 100%;
  margin: auto;
  background: #203b44;
  color: #352f29;
  font-size: 16px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 1px transparent;
  position: relative;
}
#all.pseudomobile,
#all.pseudosmalltablet,
#all.pseudotablet {
  margin: auto;
  overflow: auto;
  top: 81px;
}
#all.pseudomobile {
  width: 320px;
  height: 480px;
}
#all.pseudosmalltablet {
  width: 600px;
  height: 800px;
}
#all.pseudotablet {
  width: 780px;
  height: 1024px;
}
#all.pseudohdtv {
  width: 1920px;
  height: 1080px;
  padding-top: 46px;
}
header {
  width: 100%;
  background: #bac6cc;
}
header h1 a,
header h1 a:visited {
  font-size: 30px;
  font-weight: normal;
  color: #0c262d;
}
header nav {
  background: #f4f1ea;
  border-bottom: 13px solid #ea865a;
}
header nav a,
header nav a:visited {
  color: #352f29;
}
header nav li {
  list-style: none;
  display: inline-block;
  padding: 6px 10px 6px 10px;
}
header nav li:first-of-type {
  padding-left: 0px;
}
header nav li.active {
  border-bottom: 8px solid rgba(243, 201, 190, 0.7);
}
header.standard h1,
header.hdtv h1 {
  width: 780px;
  padding: 10px 20px 10px 20px;
  margin: auto;
}
header.standard nav,
header.hdtv nav {
  width: 780px;
  padding: 0 20px 0 20px;
  margin: auto;
  font-size: 19px;
}
header.tablet h1,
header.pseudotablet h1,
header.standard.landscape h1,
header.tablet nav,
header.pseudotablet nav,
header.standard.landscape nav {
  width: auto;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}
header.tablet nav li,
header.pseudotablet nav li,
header.standard.landscape nav li {
  height: auto;
}
header.tablet h1,
header.pseudotablet h1,
header.standard.landscape h1 {
  padding: 10px;
}
header.mobile,
header.standard.pseudomobile,
header.smalltablet,
header.standard.pseudosmalltablet {
  box-sizing: border-box;
}
header.mobile h1,
header.standard.pseudomobile h1,
header.smalltablet h1,
header.standard.pseudosmalltablet h1,
header.mobile nav,
header.standard.pseudomobile nav,
header.smalltablet nav,
header.standard.pseudosmalltablet nav {
  width: auto;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}
header.mobile h1,
header.standard.pseudomobile h1,
header.smalltablet h1,
header.standard.pseudosmalltablet h1 {
  font-size: 40px;
  padding: 10px;
}
header.mobile nav,
header.standard.pseudomobile nav,
header.smalltablet nav,
header.standard.pseudosmalltablet nav {
  font-size: 13px;
}
header.mobile li,
header.standard.pseudomobile li,
header.smalltablet li,
header.standard.pseudosmalltablet li {
  height: 15px;
}
#all > #heading {
  width: 100%;
  background: #bac6cc;
}
#all > #heading .inner {
  padding: 20px;
  border-top: 20px solid #e26345;
  background: #f3c9be;
  background-image: url('../../images/mezz.png'), url('../../images/tryitbg.png');
  background-repeat: repeat, repeat-x;
  background-position: top, top;
}
#all > #heading h2 {
  padding: 0;
}
#all > #heading h2 a {
  color: #352f29;
}
#all > #heading.standard .inner,
#all > #heading.pseudostandard .inner,
#all > #heading.landscape .inner {
  width: 780px;
  margin: auto;
}
#all > #heading.tablet .inner,
#all > #heading.smalltablet .inner,
#all > #heading.mobile .inner,
#all > #heading.standard.pseudotablet .inner,
#all > #heading.standard.pseudosmalltablet .inner,
#all > #heading.standard.pseudomobile .inner {
  width: auto;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
  padding: 20px 10px;
}
#all > #heading.tablet .inner h2,
#all > #heading.smalltablet .inner h2,
#all > #heading.mobile .inner h2,
#all > #heading.standard.pseudotablet .inner h2,
#all > #heading.standard.pseudosmalltablet .inner h2,
#all > #heading.standard.pseudomobile .inner h2 {
  font-size: 28px;
}
#content {
  width: 100%;
  background: #203b44 url('../../images/docubg.png') repeat-x top;
  color: #f9efd4;
  border-top: 13px solid #38748e;
  position: relative;
}
#content a {
  color: #bac6cc;
}
#content a:hover {
  color: white;
}
#content .inner {
  padding: 20px 0 40px 0;
}
#content article {
  box-sizing: border-box;
  position: relative;
}
#content code {
  color: #bac6cc;
  padding: 0 3px 0 3px;
  margin: 0 2px 0 2px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px double #d7dcdb;
  box-sizing: border-box;
  background: #182c33;
  white-space: nowrap;
}
#content pre {
  padding: 6px;
  border: 1px double #d7dcdb;
  box-sizing: border-box;
  color: #bac6cc;
  background: #182c33;
  white-space: pre;
}
#content pre .comment {
  color: #516065;
}
#content pre code {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  white-space: pre-wrap;
}
#content .highlight .comment {
  color: #6fa86f;
}
#content article > .clear {
  padding: 20px 10px 0 10px;
  box-sizing: border-box;
  text-align: right;
  cursor: pointer;
}
#content article > .clear a {
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  background: #589358;
  padding: 5px 9px;
  color: #203b44;
  font-weight: bold;
}
#content.standard .inner,
#content.pseudostandard .inner {
  width: 780px;
  margin: auto;
}
#content.standard article,
#content.pseudostandard article {
  width: 780px;
  margin: auto;
  position: relative;
  z-index: 5;
}
#content.standard article h2,
#content.pseudostandard article h2 {
  width: 100%;
}
#content.standard article h3,
#content.pseudostandard article h3 {
  font-size: 30px;
  font-weight: normal;
}
#content.standard article h4,
#content.pseudostandard article h4 {
  font-size: 20px;
  font-weight: normal;
}
#content.tablet .inner,
#content.smalltablet .inner,
#content.mobile .inner,
#content.standard.pseudotablet .inner,
#content.standard.pseudosmalltablet .inner,
#content.standard.pseudomobile .inner {
  width: auto;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  padding: 20px 0;
}
#content.tablet .inner section,
#content.smalltablet .inner section,
#content.mobile .inner section,
#content.standard.pseudotablet .inner section,
#content.standard.pseudosmalltablet .inner section,
#content.standard.pseudomobile .inner section,
#content.tablet .inner p,
#content.smalltablet .inner p,
#content.mobile .inner p,
#content.standard.pseudotablet .inner p,
#content.standard.pseudosmalltablet .inner p,
#content.standard.pseudomobile .inner p,
#content.tablet .inner ul,
#content.smalltablet .inner ul,
#content.mobile .inner ul,
#content.standard.pseudotablet .inner ul,
#content.standard.pseudosmalltablet .inner ul,
#content.standard.pseudomobile .inner ul {
  padding: 0 10px;
}
#content.tablet .inner pre,
#content.smalltablet .inner pre,
#content.mobile .inner pre,
#content.standard.pseudotablet .inner pre,
#content.standard.pseudosmalltablet .inner pre,
#content.standard.pseudomobile .inner pre {
  border-left: none;
  border-right: none;
  padding: 10px;
  position: relative;
  z-index: 5;
}
#content.tablet article h2,
#content.smalltablet article h2,
#content.mobile article h2,
#content.standard.pseudotablet article h2,
#content.standard.pseudosmalltablet article h2,
#content.standard.pseudomobile article h2,
#content.tablet article h3,
#content.smalltablet article h3,
#content.mobile article h3,
#content.standard.pseudotablet article h3,
#content.standard.pseudosmalltablet article h3,
#content.standard.pseudomobile article h3,
#content.tablet article h4,
#content.smalltablet article h4,
#content.mobile article h4,
#content.standard.pseudotablet article h4,
#content.standard.pseudosmalltablet article h4,
#content.standard.pseudomobile article h4,
#content.tablet article h5,
#content.smalltablet article h5,
#content.mobile article h5,
#content.standard.pseudotablet article h5,
#content.standard.pseudosmalltablet article h5,
#content.standard.pseudomobile article h5,
#content.tablet article h6,
#content.smalltablet article h6,
#content.mobile article h6,
#content.standard.pseudotablet article h6,
#content.standard.pseudosmalltablet article h6,
#content.standard.pseudomobile article h6,
#content.tablet article p,
#content.smalltablet article p,
#content.mobile article p,
#content.standard.pseudotablet article p,
#content.standard.pseudosmalltablet article p,
#content.standard.pseudomobile article p,
#content.tablet article ul,
#content.smalltablet article ul,
#content.mobile article ul,
#content.standard.pseudotablet article ul,
#content.standard.pseudosmalltablet article ul,
#content.standard.pseudomobile article ul {
  padding: 0 10px;
}
#content.tablet article pre,
#content.smalltablet article pre,
#content.mobile article pre,
#content.standard.pseudotablet article pre,
#content.standard.pseudosmalltablet article pre,
#content.standard.pseudomobile article pre {
  border-left: none;
  border-right: none;
  padding: 10px;
  position: relative;
  z-index: 5;
}
#content.tablet article li p,
#content.smalltablet article li p,
#content.mobile article li p,
#content.standard.pseudotablet article li p,
#content.standard.pseudosmalltablet article li p,
#content.standard.pseudomobile article li p {
  padding: 0px !important;
}
#content.standard.pseudotablet .clear a,
#content.standard.pseudosmalltablet .clear a,
#content.standard.pseudomobile .clear a {
  display: none;
}
#content nav {
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 4;
  border-right: 3px solid #38748e;
  text-align: right;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#content nav h6 {
  width: 100%;
  padding: 6px 6px 6px 0;
  margin: 0 0 20px 0;
  background: #38748e;
  font-size: 14px;
  position: absolute;
  left: 100%;
}
#content nav li {
  margin-right: 6px;
  position: relative;
  right: 0;
  list-style: none;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
#content nav li div {
  display: inline-block;
}
#content nav li .label {
  width: auto;
  padding-right: 14px;
}
#content nav li .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 3px solid #ea865a;
  background: #203b44;
  position: absolute;
  top: 50%;
  margin-top: -7px;
}
#content nav li .circle.active {
  background: #ea865a;
}
#content nav li + li {
  margin-top: 20px;
}
#content nav .prediction {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: -25%;
  z-index: 0;
}
#content nav nav {
  display: none;
}
#content nav.active.standard,
#content nav.active.tablet,
#content nav.active.smalltablet,
#content nav.active.mobile,
#content nav.active.standard.pseudotablet,
#content nav.active.standard.pseudosmalltablet,
#content nav.active.standard.pseudomobile {
  left: 0;
  background: #38748e;
  background: rgba(56, 116, 142, 0.9);
  border-right-color: #d0e0ef;
  z-index: 6;
}
#content nav.standard,
#content nav.tablet.landscape,
#content nav.standard.pseudostandard.landscape {
  width: 200px;
  left: -180px;
}
#content nav.standard.pseudotablet,
#content nav.standard.pseudosmalltablet,
#content nav.standard.pseudomobile {
  display: none;
}
#content nav.fixed.standard {
  position: fixed;
}
#content nav.fixed.tablet,
#content nav.fixed.smalltablet,
#content nav.fixed.mobile {
  position: absolute;
}
#all > nav {
  width: auto;
  margin: auto;
  padding: 20px 10px;
  background-color: #589358;
  background-image: url('../../images/shadow-lr-down.png'), url('../../images/mezz.png');
  background-repeat: repeat-x, repeat;
  background-position: top, top;
  border-top: 13px solid #38748e;
  border-bottom: 10px solid #589358;
}
#all > nav ol {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
#all > nav h6 {
  display: none;
}
#all > nav a {
  color: #f9efd4;
}
#all > nav li + li {
  margin-top: 20px;
}
#all.tablet > nav .inner,
#all.smalltablet > nav .inner,
#all.mobile > nav .inner {
  width: auto;
  padding: 0 10px;
  margin: auto;
}
nav + #content.tablet,
nav + #content.smalltablet,
nav + #content.mobile {
  border-top: 0px none;
}
nav + #content.tablet #prevnext,
nav + #content.smalltablet #prevnext,
nav + #content.mobile #prevnext {
  width: 100%;
  height: auto;
  border: none;
  padding: 0;
}
nav + #content.tablet .prev,
nav + #content.smalltablet .prev,
nav + #content.mobile .prev,
nav + #content.tablet .next,
nav + #content.smalltablet .next,
nav + #content.mobile .next {
  width: 10%;
  background: #589358;
  color: #203b44;
  text-align: center;
  font-weight: bold;
  padding: 3px;
  box-padding: border-box;
  cursor: pointer;
}
nav + #content.tablet .prev,
nav + #content.smalltablet .prev,
nav + #content.mobile .prev {
  float: left;
  margin-left: 10px;
}
nav + #content.tablet .next,
nav + #content.smalltablet .next,
nav + #content.mobile .next {
  float: right;
  margin-right: 10px;
}
nav + #content.tablet #prevnext.fixed,
nav + #content.smalltablet #prevnext.fixed,
nav + #content.mobile #prevnext.fixed {
  position: fixed;
  top: 0;
  z-index: 6;
  border-top: 5px solid #589358;
}
footer {
  width: 100%;
  background: #38748e;
  text-align: center;
  color: #d0e0ef;
  z-index: 4;
  position: relative;
}
footer .inner {
  width: 50%;
  margin: auto;
  box-sizing: border-box;
}
footer h1 {
  font-size: 60px;
  font-weight: normal;
  color: #ea865a;
}
footer.standard .inner {
  width: 780px;
  margin: auto;
  padding: 10px 20px 20px 20px;
}
footer.mobile .inner,
footer.pseudomobile .inner,
footer.smalltablet .inner,
footer.pseudosmalltablet .inner,
footer.tablet .inner,
footer.pseudotablet .inner {
  width: auto;
  padding: 20px;
}
.no-multiplebgs #all > #heading .inner {
  background-image: url('../../images/tryitbg.png');
  background-repeat: repeat-x;
  background-position: top;
}
