.Mheader {
	width: auto;
	height: 110px;
	margin: 10px 10px;
	padding-bottom: 10px;

	border-bottom: 1px solid;
	border-color: gainsboro;

}

.header {
	width: auto;
	height: 90px;
	margin: 40px 30px;
	padding-bottom: 20px;

	border-bottom: 1px solid;
	border-color: gainsboro;

}

.Mheader h1 {
	font-family:proxima-nova-i1, proxima-nova, sans-serif;
  	font-style: italic;
  	font-weight: 100;
  	font-size: 3.5em;
	color: gainsboro;
	float: left;
	margin-top: 50px;
	
}

.header h1 {
	font-family:proxima-nova-i1, proxima-nova, sans-serif;
  	font-style: italic;
  	font-weight: 100;
  	font-size: 3em;
	color: grey;
	float: left;
	
}

.Mcaps {
	width: 100%;
	position: absolute;
	left: 280px;
	top: 73px;
	font-size: 2.5em;
	font-family:proxima-nova-n1, proxima-nova, sans-serif;
  	font-weight: 100;
	margin-top: 0px;
	color: grey;
}


.caps {

	font-family:proxima-nova-n1, proxima-nova, sans-serif;
  	font-weight: 100;
  	font-size: 3em;
	color: gainsboro;
	float: left;
	margin: 33px 20px;

}

.Mnav {
	position: absolute;
	left: 10px;
	top: 130px;
}

.nav {
	position: absolute;
	right: 100px;
	top: 162px;
}

.Mnav a {
	font-family:proxima-nova, sans-serif;
	font-weight: 300;
	font-size: .8em;
	color: grey;
	text-decoration: none;

	padding:7px;
	border: 1px solid;
	border-color: gainsboro;
	margin: 0px;
	background: white;
	float: left;


}

.nav a {
	font-family:proxima-nova, sans-serif;
	font-weight: 300;
	font-size: .9em;
	color: grey;
	text-decoration: none;

	padding:12px;
	border: 1px solid;
	border-color: gainsboro;
	margin: 5px;
	background: white;


}

.Mnav a:hover,
.nav a:hover{
	color: #23b6a6;
}

.Mcontent {
	font-family:proxima-nova, sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: black;
	margin: 20px 20px;
	margin-top: 80px;

}


.content {
	font-family:proxima-nova, sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: black;
	margin: 100px 60px;
	margin-top: 80px;

}

.content a, 
.Mcontent a {
	font-family:proxima-nova, sans-serif;
	font-weight: 300;
	font-size: 1.3em;
	color: #23b6a6;
	text-decoration: none;
	margin: 20px 10px;

}

.content a:hover, 
.Mcontent a:hover{
	color: midnightblue;
}

.content span,
.Mcontent span {
	font-family:proxima-nova, sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: grey;

}


.content h2,
.Mcontent h2 {
	color: dimgrey;
	font-weight: 300;
	font-size: 2em;
}












