.colMargin {
  margin: 0 20px 0 20px;
}
.colPadding {
  padding: 0 20px 0 20px;
}
.halfMargin {
  margin: 0 10px 0 10px;
}
.halfPadding {
  padding: 0 10px 0 10px;
}
.mobileWrapping {
  width: auto;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}
.noMarginWrapping {
  width: auto;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}
#heading,
#scrollWrapper > #heading,
#all > #heading {
  background: #bac6cc url('../../images/headerbg.png') repeat-x top;
}
#content.blog h3 a {
  color: #f9efd4;
}
#content.blog section#filter {
  position: relative;
  z-index: 5;
  padding: 10px 20px 10px 20px;
  color: #bac6cc;
  border-bottom: 10px solid #bac6cc;
}
#content.blog section#filter h4 {
  padding: 6px 0 0 0;
}
#content.blog section#filter h4 a {
  color: #f9efd4;
}
#content.blog section.header h3 {
  padding: 0;
}
#content.blog section.header h4 {
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 35px;
  line-height: 3.5rem;
  font-weight: normal;
}
#content.blog section.header p {
  text-indent: 0px;
  padding: 0px;
}
#content.blog section.header p.meta,
#content.blog section.header p.tags {
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
}
#content.blog section.header p.meta a {
  color: #f9efd4;
}
#content.blog section.header p.tags {
  margin-left: 16px;
}
#content.blog section.header p.tags a.release:hover {
  color: #ea865a;
}
#content.blog section.header p.tags a.example:hover {
  color: #63a263;
}
#content.blog section.header p.tags a.update:hover {
  color: #68a8c4;
}
#content.blog section.header h4.seeDemo {
  margin-top: 10px;
  padding: 5px;
  border: 1px dashed #e26345;
  line-height: inherit;
  text-align: center;
}
#content.blog section.header h4.seeDemo a {
  color: #f3c9be;
}
#content.blog section.img {
  padding: 0;
  border-bottom: 8px solid #38748e;
  position: relative;
}
#content.blog .shadow {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 6;
  height: 20px;
  background: url('../../images/shadow-lr-up.png') bottom repeat-x;
}
#content.blog .inner section.img {
  margin-bottom: 25px;
}
#content.blog .inner section.img .inner {
  padding: 0;
  text-align: center;
}
#content.blog .inner section.img img {
  max-height: 600px;
}
#content.blog .inner article section.img {
  max-height: 250px;
  overflow: hidden;
}
#content.blog .inner article section.img .inner {
  text-align: left;
}
#content.blog .inner article section.img img {
  max-width: 100%;
  margin: auto;
}
#content.blog #topNav.tagNav {
  background: #203b44;
  border-top: 13px solid #38748e;
  border-bottom: 6px solid #589358;
}
#content.blog #topNav.tagNav a.example {
  color: #63a263;
}
#content.blog #topNav.tagNav a.release {
  color: #ea865a;
}
#content.blog #topNav.tagNav a.update {
  color: #68a8c4;
}
#content.blog #topNav.tagNav a + a {
  margin-left: 6px;
}
#content.blog #topNav.tagNav .inner {
  line-height: 40px;
  line-height: 4.0rem;
}
#content.blog section.footer {
  width: auto;
  background: #589358;
}
#content.blog section.footer .inner {
  padding: 20px 0 20px 0;
}
#content.blog section.footer a {
  color: #f9efd4;
}
#content.blog article {
  clear: both;
}
#content.blog article h4 {
  font-size: 20px;
  font-size: 2.0rem;
}
#content.blog article h5 {
  font-size: 20px;
  font-size: 2.0rem;
  font-weight: normal;
  border-bottom: 1px dashed #f9efd4;
  padding-bottom: 3px;
}
#content.blog article ul {
  list-style: disc;
  margin-left: 20px;
}
#content.blog article p + p {
  text-indent: 0;
}
#content.blog article li p + ul {
  margin-top: 0;
}
#content.blog article + article {
  margin-top: 20px;
}
#content.blog section.header + article {
  margin-top: 20px;
}
#content.blog h3 + h4 {
  margin-top: 8px;
}
#content.blog h4 + .header {
  margin-top: 4px;
}
#content.blog h3 + .header {
  margin-top: 3px;
}
#content.blog .tags a + a {
  margin-left: 3px;
}
#content.blog p.meta,
#content.blog p.tags {
  margin-top: 0px;
}
#content.blog.standard .inner,
#content.hdtv .inner {
  width: 780px;
  margin: auto;
}
#content.blog.standard section#filter,
#content.hdtv section#filter {
  width: 780px;
  margin: auto;
  margin-top: 20px;
}
#content.blog.standard section#filter h4,
#content.hdtv section#filter h4 {
  padding: 6px 0 0 0;
}
#content.blog.tablet #topNav.tagNav .inner,
#content.blog.standard.pseudotablet #topNav.tagNav .inner {
  padding: 0 20px;
}
#content.blog.tablet h3,
#content.blog.standard.pseudotablet h3 {
  font-size: 26px;
  font-size: 2.6rem;
}
#content.blog.tablet h4,
#content.blog.standard.pseudotablet h4 {
  font-size: 20px;
  font-size: 2.0rem;
  font-weight: normal;
}
#content.blog.tablet section.header h4,
#content.blog.standard.pseudotablet section.header h4 {
  padding: 0;
}
#content.blog.tablet section#filter,
#content.blog.standard.pseudotablet section#filter {
  width: auto;
  background: #0c262d;
}
#content.blog.tablet section#filter h4,
#content.blog.standard.pseudotablet section#filter h4 {
  padding: 6px 0 0 0;
}
#content.blog.tablet h2,
#content.blog.standard.pseudotablet h2,
#content.blog.tablet h3,
#content.blog.standard.pseudotablet h3,
#content.blog.tablet h4,
#content.blog.standard.pseudotablet h4,
#content.blog.tablet h5,
#content.blog.standard.pseudotablet h5,
#content.blog.tablet h6,
#content.blog.standard.pseudotablet h6,
#content.blog.tablet section,
#content.blog.standard.pseudotablet section,
#content.blog.tablet p,
#content.blog.standard.pseudotablet p {
  padding: 0 20px;
}
#content.blog.smalltablet #topNav.tagNav .inner,
#content.blog.mobile #topNav.tagNav .inner,
#content.blog.standard.pseudosmalltablet #topNav.tagNav .inner,
#content.blog.standard.pseudomobile #topNav.tagNav .inner {
  padding: 0 20px;
}
#content.blog.smalltablet h3,
#content.blog.mobile h3,
#content.blog.standard.pseudosmalltablet h3,
#content.blog.standard.pseudomobile h3 {
  font-size: 26px;
  font-size: 2.6rem;
}
#content.blog.smalltablet h4,
#content.blog.mobile h4,
#content.blog.standard.pseudosmalltablet h4,
#content.blog.standard.pseudomobile h4 {
  font-size: 20px;
  font-size: 2.0rem;
  font-weight: normal;
}
#content.blog.smalltablet section#filter,
#content.blog.mobile section#filter,
#content.blog.standard.pseudosmalltablet section#filter,
#content.blog.standard.pseudomobile section#filter {
  width: auto;
  background: #0c262d;
}
#content.blog.smalltablet section#filter h4,
#content.blog.mobile section#filter h4,
#content.blog.standard.pseudosmalltablet section#filter h4,
#content.blog.standard.pseudomobile section#filter h4 {
  padding: 6px 0 0 0;
}
#content.blog.smalltablet section.header h4,
#content.blog.mobile section.header h4,
#content.blog.standard.pseudosmalltablet section.header h4,
#content.blog.standard.pseudomobile section.header h4 {
  padding: 0;
}
#content.blog.smalltablet section.footer,
#content.blog.mobile section.footer,
#content.blog.standard.pseudosmalltablet section.footer,
#content.blog.standard.pseudomobile section.footer {
  text-align: Center;
}
#content.blog.smalltablet h2,
#content.blog.mobile h2,
#content.blog.standard.pseudosmalltablet h2,
#content.blog.standard.pseudomobile h2,
#content.blog.smalltablet h3,
#content.blog.mobile h3,
#content.blog.standard.pseudosmalltablet h3,
#content.blog.standard.pseudomobile h3,
#content.blog.smalltablet h4,
#content.blog.mobile h4,
#content.blog.standard.pseudosmalltablet h4,
#content.blog.standard.pseudomobile h4,
#content.blog.smalltablet h5,
#content.blog.mobile h5,
#content.blog.standard.pseudosmalltablet h5,
#content.blog.standard.pseudomobile h5,
#content.blog.smalltablet h6,
#content.blog.mobile h6,
#content.blog.standard.pseudosmalltablet h6,
#content.blog.standard.pseudomobile h6,
#content.blog.smalltablet section,
#content.blog.mobile section,
#content.blog.standard.pseudosmalltablet section,
#content.blog.standard.pseudomobile section,
#content.blog.smalltablet p,
#content.blog.mobile p,
#content.blog.standard.pseudosmalltablet p,
#content.blog.standard.pseudomobile p {
  padding: 0 20px;
}
#content.post {
  border-top: 13px solid #38748e;
}
#content.blog #filter.release {
  border-bottom-color: #ea865a;
  color: #ea865a;
}
#content.blog #filter.example {
  border-bottom-color: #63a263;
  color: #63a263;
}
#content.blog #filter.update {
  border-bottom-color: #68a8c4;
  color: #68a8c4;
}
