html {
  font-size: 62.5%;
}
#container {
  width: 820px;
  margin: auto;
}
.clear {
  clear: both;
}
.selectable {
  position: relative;
  z-index: 10;
}
#codeImage.mobile,
#codeImage.pseudomobile,
#codeImage.smalltablet,
#codeImage.pseudosmalltablet,
#codeImage.tablet,
#codeImage.pseudotablet {
  display: none;
}
#codeImage {
  background: #bac6cc;
}
#codeImage .inner {
  width: 900px;
  margin: auto;
  background: #495c63;
  border-top: 6px #38748e solid;
  border-bottom: 6px #38748e solid;
  color: #bac6cc;
  font-family: 'Courier', monospace;
  font-size: 12px;
  line-height: 17px;
  position: relative;
}
#codeImage .inner pre {
  white-space: pre;
}
#codeImage .inner pre h5 {
  font-size: 15px;
  font-family: Helvetica, Arial, san-serif;
  color: #f4f1ea;
  margin-bottom: -12px;
}
#codeImage #rawCodeImage,
#codeImage #standardCodeImage,
#codeImage #mobileCodeImage {
  float: right;
  box-sizing: border-box;
}
#codeImage #rawCodeImage {
  width: 567px;
  background: url('../../images/codeimage/left.png') repeat-y right;
  float: left;
  padding: 15px 0 15px 25px;
}
#codeImage #standardCodeImage,
#codeImage #mobileCodeImage {
  width: 333px;
}
/* Color styles */
.white {
  color: #f4f1ea;
}
.orangeDark {
  color: #e26345;
}
.orangeLight {
  color: #ea865a;
}
.greenDark {
  color: #589358;
}
.greenLight {
  color: #7fb27f;
}
.blueDark {
  color: #38748e;
}
.blueLight {
  color: #62bddd;
}
/* Backgrounds */
#standardGreen,
#standardBlue,
#mobileRed,
#mobileBlue {
  box-sizing: border-box;
}
#standardRed,
#standardGreen,
#standardBlue,
#mobileRed,
#mobileGreen,
#mobileBlue {
  padding: 1px 0 1px 25px;
  background-size: 355px 1px;
}
#standardRed,
#mobileGreen {
  padding-top: 15px;
}
#mobileBlue {
  padding-bottom: 15px;
}
#standardRed {
  background: url('../../images/codeimage/standardred.png') repeat-y;
}
#standardGreen {
  background: url('../../images/codeimage/standardgreen.png') repeat-y;
}
#standardBlue {
  background: url('../../images/codeimage/standardblue.png') repeat-y;
}
#mobileRed {
  background: url('../../images/codeimage/mobilered.png') repeat-y;
}
#mobileGreen {
  background: url('../../images/codeimage/shadow-horizontal.png'), url('../../images/codeimage/mobilegreen.png');
  background-repeat: repeat-x, repeat-y;
}
#mobileBlue {
  background: url('../../images/codeimage/mobileblue.png') repeat-y;
}
.no-multiplebgs #standardBlue {
  padding-bottom: 3px;
}
.no-multiplebgs #mobileGreen {
  background: url('../../images/codeimage/mobilegreen.png') repeat-y;
}
/* line connectors */
#connections {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#smallCode.standard,
#smallCode.pseudostandard,
#smallCode.hdtv {
  display: none;
}
#smallCode.mobile,
#smallCode.standard.pseudomobile,
#smallCode.hdtv.pseudomobile,
#smallCode.smalltablet,
#smallCode.standard.pseudosmalltablet,
#smallCode.hdtv.pseudosmalltablet,
#smallCode.tablet,
#smallCode.standard.pseudotablet,
#smallCode.hdtv.pseudotablet {
  display: block;
}
#smallCode {
  border-top: 13px #2a5669 solid;
  display: block;
}
#smallCode pre {
  white-space: pre;
  color: #bac6cc;
  padding: 6px;
}
#smallCode pre h5 {
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  color: #f4f1ea;
  text-align: right;
}
#smallCode pre#input {
  background-color: #495c63;
  background-image: url('../../images/codeimage/shadow-horizontal.png'), url('../../images/codeimage/left.png');
  background-repeat: repeat-x, repeat-y;
  background-position: top, right;
}
#smallCode pre#output {
  padding: 15px 6px 20px 6px;
  white-space: pre;
}
#smallCode.tablet pre,
#smallCode.pseudotablet pre {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
#smallCode.hdtv.pseudotablet,
#smallCode.hdtv.pseudosmalltablet,
#smallCode.hdtv.pseudomobile {
  border-bottom: 13px solid #38748e;
}
#smallCode.mobile #output,
#smallCode.pseudomobile #output {
  background-image: url('../../images/codeimage/shadow-horizontal.png'), url('../../images/codeimage/redfade.png');
  background-repeat: repeat-x, repeat-y;
  background-position: top, top left;
  background-color: #4d3e3a;
  background-size: 1px 20px, 100% 100%;
  color: #e26345;
}
#smallCode.smalltablet #output,
#smallCode.pseudosmalltablet #output {
  background-image: url('../../images/codeimage/shadow-horizontal.png'), url('../../images/codeimage/greenfade.png');
  background-repeat: repeat-x, repeat-y;
  background-position: top, top left;
  background-color: #343636;
  background-size: 1px 20px, 100% 100%;
  color: #589358;
  padding-left: 40px;
}
#smallCode.tablet #output,
#smallCode.pseudotablet #output {
  background-image: url('../../images/codeimage/shadow-horizontal.png'), url('../../images/codeimage/shadow-vertical.png'), url('../../images/codeimage/bluefade.png');
  background-repeat: repeat-x, repeat-y, repeat-y;
  background-position: top, left, top left;
  background-color: #1f424c;
  background-size: 1px 20px, 20px 1px, 100% 100%;
  color: #62bddd;
  padding-left: 30px;
}
.no-multiplebgs #smallCode #input {
  background: #495c63 url('../../images/codeimage/left.png') repeat-y right;
}
.no-multiplebgs #smallCode.mobile #output,
.no-multiplebgs #smallCode.pseudomobile #output {
  background: #4d3e3a url('../../images/codeimage/redfade.png') repeat-y top right;
}
.no-multiplebgs #smallCode.smalltablet #output,
.no-multiplebgs #smallCode.pseudosmalltablet #output {
  background: #343636 url('../../images/codeimage/greenfade.png') repeat-y top right;
}
.no-multiplebgs #smallCode.tablet #output,
.no-multiplebgs #smallCode.pseudotablet #output {
  background: #1f424c url('../../images/codeimage/bluefade.png') repeat-y top right;
}
