.colMargin {
  margin: 0 20px 0 20px;
}
.colPadding {
  padding: 0 20px 0 20px;
}
.halfMargin {
  margin: 0 10px 0 10px;
}
.halfPadding {
  padding: 0 10px 0 10px;
}
.mobileWrapping {
  width: auto;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}
#splash {
  width: 100%;
  background: #bac6cc url('../../images/headerbg.png') repeat-x top;
}
#splash .inner {
  background-color: #ea865a;
  background-image: url('../../images/mezz.png'), url('../../images/splashbg.png'), url('../../images/splashbg-bottom.png');
  background-repeat: repeat, repeat-x, repeat-x;
  background-position: top, top, bottom;
  color: #f9efd4;
}
#splash .inner h2 {
  font-size: 31px;
  font-weight: normal;
}
#splash .inner h3 {
  font-size: 19px;
  font-weight: normal;
  line-height: 1.5em;
  margin-top: 7px;
}
#splash .inner section#buttons {
  text-align: center;
  position: relative;
}
#splash .inner section#buttons a,
#splash .inner section#buttons a:visited {
  padding: 10px;
  box-sizing: border-box;
  display: block;
  background: #589358;
  background: rgba(88, 147, 88, 0.9);
  color: #f9efd4;
  color: rgba(255, 255, 255, 0.75);
}
#splash .inner section#buttons a#mini {
  background: #457345;
}
#splash.standard .inner,
#splash.hdtv .inner {
  width: 780px;
  margin: auto;
  padding: 20px;
}
#splash.standard .inner section,
#splash.hdtv .inner section {
  box-sizing: border-box;
}
#splash.standard .inner section#buttons,
#splash.hdtv .inner section#buttons {
  height: 64px;
  margin-top: 30px;
}
#splash.standard .inner section#buttons a,
#splash.hdtv .inner section#buttons a,
#splash.standard .inner section#buttons a:visited,
#splash.hdtv .inner section#buttons a:visited {
  position: absolute;
  top: 0;
  bottom: 0;
}
#splash.standard .inner section#buttons a#bundle,
#splash.hdtv .inner section#buttons a#bundle {
  width: 65%;
  left: 0;
}
#splash.standard .inner section#buttons a#mini,
#splash.hdtv .inner section#buttons a#mini {
  width: 34%;
  right: 0;
}
#splash.tablet .inner,
#splash.pseudotablet .inner,
#splash.standard.landscape .inner {
  width: auto;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
  padding: 20px;
}
#splash.tablet .inner section#buttons,
#splash.pseudotablet .inner section#buttons,
#splash.standard.landscape .inner section#buttons {
  height: 64px;
  margin-top: 30px;
}
#splash.tablet .inner section#buttons a,
#splash.pseudotablet .inner section#buttons a,
#splash.standard.landscape .inner section#buttons a,
#splash.tablet .inner section#buttons a:visited,
#splash.pseudotablet .inner section#buttons a:visited,
#splash.standard.landscape .inner section#buttons a:visited {
  position: absolute;
  top: 0;
  bottom: 0;
}
#splash.tablet .inner section#buttons a#bundle,
#splash.pseudotablet .inner section#buttons a#bundle,
#splash.standard.landscape .inner section#buttons a#bundle {
  width: 65%;
  left: 0;
}
#splash.tablet .inner section#buttons a#mini,
#splash.pseudotablet .inner section#buttons a#mini,
#splash.standard.landscape .inner section#buttons a#mini {
  width: 34%;
  right: 0;
}
#splash.mobile .inner,
#splash.pseudomobile .inner,
#splash.smalltablet .inner,
#splash.pseudosmalltablet .inner {
  width: auto;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 10px;
}
#splash.mobile .inner section + section,
#splash.pseudomobile .inner section + section,
#splash.smalltablet .inner section + section,
#splash.pseudosmalltablet .inner section + section {
  margin-top: 20px;
}
#splash.mobile .inner section#buttons a,
#splash.pseudomobile .inner section#buttons a,
#splash.smalltablet .inner section#buttons a,
#splash.pseudosmalltablet .inner section#buttons a {
  width: 100%;
}
#splash.mobile .inner section#buttons a#mini,
#splash.pseudomobile .inner section#buttons a#mini,
#splash.smalltablet .inner section#buttons a#mini,
#splash.pseudosmalltablet .inner section#buttons a#mini {
  margin-top: 10px;
}
#splash.standard.pseudomobile section,
#splash.standard.pseudosmalltablet section,
#splash.hdtv.pseudomobile section,
#splash.hdtv.pseudosmalltablet section {
  width: auto;
  padding: 0;
}
#splash.standard.pseudomobile section#buttons,
#splash.standard.pseudosmalltablet section#buttons,
#splash.hdtv.pseudomobile section#buttons,
#splash.hdtv.pseudosmalltablet section#buttons {
  width: 100%;
}
#splash.standard.pseudomobile section#buttons div,
#splash.standard.pseudosmalltablet section#buttons div,
#splash.hdtv.pseudomobile section#buttons div,
#splash.hdtv.pseudosmalltablet section#buttons div {
  width: auto;
}
#scrollWrapper.standard > .try,
#scrollWrapper.hdtv > .try {
  text-align: center;
}
#scrollWrapper.standard > .try h2,
#scrollWrapper.hdtv > .try h2,
#scrollWrapper.standard > .try #devices,
#scrollWrapper.hdtv > .try #devices {
  display: inline-block;
  height: 55px;
}
#scrollWrapper.standard > .try h2,
#scrollWrapper.hdtv > .try h2 {
  margin-right: 20px;
  vertical-align: top;
  line-height: 55px;
}
#scrollWrapper.standard > .try #devices,
#scrollWrapper.hdtv > .try #devices {
  vertical-align: middle;
  position: relative;
  z-index: 2;
}
#scrollWrapper.standard > .try #devices div,
#scrollWrapper.hdtv > .try #devices div {
  height: 55px;
  background: url('../../images/devices.svg');
  background-size: 193px 55px;
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
}
#scrollWrapper.standard > .try #devices div + div,
#scrollWrapper.hdtv > .try #devices div + div {
  margin-left: 7px;
}
#scrollWrapper.standard > .try #devices #pseudomobile,
#scrollWrapper.hdtv > .try #devices #pseudomobile {
  width: 18px;
  background-position: 0 0;
}
#scrollWrapper.standard > .try #devices #pseudosmalltablet,
#scrollWrapper.hdtv > .try #devices #pseudosmalltablet {
  width: 33px;
  background-position: -19px 0px;
}
#scrollWrapper.standard > .try #devices #pseudotablet,
#scrollWrapper.hdtv > .try #devices #pseudotablet {
  width: 40px;
  background-position: -52px 0px;
}
#scrollWrapper.standard > .try #devices #pseudohdtv,
#scrollWrapper.hdtv > .try #devices #pseudohdtv {
  width: 71px;
  background-position: -92px 1px;
}
#scrollWrapper.standard > .try #devices .cancel,
#scrollWrapper.hdtv > .try #devices .cancel {
  display: none;
}
.try.tablet,
.try.smalltablet,
.try.mobile {
  display: none;
}
body > .try.standard,
body > .try.hdtv {
  width: 100%;
  height: 46px;
  border-bottom: 3px solid #38748e;
  background: #203b44 url('../../images/docubg.png') repeat-x top;
  color: #f9efd4;
  position: fixed;
  z-index: 20;
}
body > .try.standard .inner,
body > .try.hdtv .inner {
  background: transparent;
  margin: 0;
  padding: 0;
}
body > .try.standard h2,
body > .try.hdtv h2,
body > .try.standard div#devices,
body > .try.hdtv div#devices {
  float: left;
}
body > .try.standard h2,
body > .try.hdtv h2 {
  font-size: 36px;
  margin: 2px 0 0 13px;
}
body > .try.standard #devices,
body > .try.hdtv #devices {
  margin: 5px 0 0 20px;
}
body > .try.standard #devices div,
body > .try.hdtv #devices div {
  width: 35px;
  height: 35px;
  float: left;
  background: url('../../images/devices-dark.svg') no-repeat;
  background-size: 148px 37px;
  cursor: pointer;
}
body > .try.standard #devices div + div,
body > .try.hdtv #devices div + div {
  margin-left: 8px;
}
body > .try.standard #devices .toggleOrientation:hover,
body > .try.hdtv #devices .toggleOrientation:hover {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  /* IE 9 */

  -webkit-transform: rotate(-90deg);
  /* Safari and Chrome */

}
body > .try.standard #devices #pseudomobile,
body > .try.hdtv #devices #pseudomobile {
  width: 12px;
  background-position: 0px;
}
body > .try.standard #devices #pseudosmalltablet,
body > .try.hdtv #devices #pseudosmalltablet {
  width: 21px;
  background-position: -13px 0px;
}
body > .try.standard #devices #pseudotablet,
body > .try.hdtv #devices #pseudotablet {
  width: 26px;
  background-position: -35px 0px;
}
body > .try.standard #devices #pseudohdtv,
body > .try.hdtv #devices #pseudohdtv {
  width: 47px;
  background-position: -62px 0px;
}
body > .try.standard #devices #return,
body > .try.hdtv #devices #return {
  width: 18px;
  background-position: -110px 0px;
}
body > .try.standard #devices .cancel,
body > .try.hdtv #devices .cancel {
  width: 18px;
  background-position: -129px 0px;
  position: absolute;
  right: 13px;
}
#content.docsLite #topNav {
  background-color: #589358;
  background-image: url('../../images/mezz.png');
}
#content.docsLite #topNav .inner p {
  float: left;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-weight: bold;
  font-size: 25px;
  line-height: 40px;
}
#content.docsLite #topNav .inner p a {
  color: #0c262d;
  cursor: pointer;
}
#content.docsLite #topNav .inner p.inactive {
  opacity: 0;
}
#content.docsLite #topNav .inner p.active {
  opacity: 1;
}
#content.docsLite #topNav ul {
  position: absolute;
}
#content.docsLite #topNav ul#sections,
#content.docsLite #topNav ul#subsections {
  width: 220px;
  height: 40px;
  padding: 0;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 20;
  display: inline-block;
  cursor: pointer;
  right: 135px;
}
#content.docsLite #topNav ul#sections li,
#content.docsLite #topNav ul#subsections li {
  width: 100%;
  height: inherit;
  padding: 0 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  position: absolute;
  top: 0;
  background: #0c262d;
  -webkit-transition: top 300ms;
  -moz-transition: top 300ms;
  -o-transition: top 300ms;
  transition: top 300ms;
  font-size: 17px;
}
#content.docsLite #topNav ul#sections li a,
#content.docsLite #topNav ul#subsections li a {
  display: block;
}
#content.docsLite #topNav ul#sections li:hover,
#content.docsLite #topNav ul#subsections li:hover {
  background: #38748e;
}
#content.docsLite #topNav ul#sections .cover,
#content.docsLite #topNav ul#subsections .cover {
  z-index: 100 !important;
}
#content.docsLite #topNav ul#subsections {
  margin-left: 20px;
}
#content.docsLite #topNav ul.moving li:hover {
  background: #0c262d;
}
#content.docsLite #topNav ul#prevnext {
  width: 125px;
  height: 40px;
  padding: 0;
  margin-left: 5px;
  right: 5px;
}
#content.docsLite #topNav ul#prevnext li {
  width: 60px;
  height: inherit;
  display: inline-block;
  background: #0c262d;
  padding: 0 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
#content.docsLite #topNav ul#prevnext li:hover {
  background: #38748e;
}
#content.docsLite #docs {
  background: #203b44 url('../../images/docubg.png') repeat-x top fixed;
}
#content.docsLite h5,
#content.docsLite h6 {
  font-weight: normal;
}
#content.docsLite pre {
  width: 100%;
  padding: 6px;
  border: 1px double #d7dcdb;
  box-sizing: border-box;
  background: #182c33;
}
#content.docsLite article {
  padding-top: 30px;
}
#content.docsLite article li {
  margin-left: 10px;
  padding-left: 10px;
}
#content.docsLite article.special {
  background: #0c262d;
  border-top: 13px solid #274752;
  color: #f9efd4;
  z-index: 3;
}
#content.docsLite article.special pre {
  background: #203b44;
  border: 2px solid #417789;
}
#content.docsLite article.special .highlight pre code {
  border: 0 none;
  background: transparent;
}
#content.docsLite article:not(.special) + article:not(.special) {
  border-top: 1px dashed #38748e;
}
#content.docsLite.standard article:not(.thirds) > section:nth-of-type(3n):last-of-type,
#content.docsLite.hdtv article:not(.thirds) > section:nth-of-type(3n):last-of-type,
#content.docsLite.standard article > section:nth-of-type(1):last-of-type,
#content.docsLite.hdtv article > section:nth-of-type(1):last-of-type {
  width: 100%;
  clear: both;
}
#content.docsLite.standard article,
#content.hdtv article {
  padding: 30px 0 20px 0;
}
#content.docsLite.standard article h2,
#content.hdtv article h2 {
  box-sizing: border-box;
  padding-right: 50%;
}
#content.docsLite.standard article h3,
#content.hdtv article h3 {
  clear: both;
}
#content.docsLite.standard article section + h3,
#content.hdtv article section + h3 {
  margin-top: 40px;
}
#content.docsLite.standard article section,
#content.hdtv article section {
  width: 50%;
  padding: 20px 13px 25px 0;
  float: left;
  box-sizing: border-box;
}
#content.docsLite.standard article section:nth-of-type(2n),
#content.hdtv article section:nth-of-type(2n) {
  padding: 20px 0 20px 13px;
  float: right;
}
#content.docsLite.standard article section + h2,
#content.hdtv article section + h2 {
  padding-right: 0;
  padding-left: 50%;
}
#content.docsLite.standard article article,
#content.hdtv article article {
  padding: 30px 0 20px 0;
  width: auto;
}
#content.docsLite.standard article.special,
#content.hdtv article.special {
  width: 100%;
  margin: 20px 0 20px 0;
}
#content.docsLite.standard article.special .inner,
#content.hdtv article.special .inner {
  width: 780px;
  padding: 0;
  margin: auto;
}
#content.docsLite.standard article:first-of-type,
#content.hdtv article:first-of-type {
  padding-top: 27px;
}
#content.docsLite.standard div.thirds,
#content.hdtv div.thirds {
  width: 100%;
  clear: both;
  padding: 0;
}
#content.docsLite.standard div.thirds section,
#content.hdtv div.thirds section {
  width: 33%;
  float: left;
}
#content.docsLite.standard div.thirds section:nth-child(3n-2),
#content.hdtv div.thirds section:nth-child(3n-2),
#content.docsLite.standard div.thirds section:nth-child(3n-1),
#content.hdtv div.thirds section:nth-child(3n-1) {
  padding-right: 13px;
}
#content.docsLite.standard div.thirds section:nth-child(3n-1),
#content.hdtv div.thirds section:nth-child(3n-1) {
  padding-left: 13px;
}
#content.docsLite.standard div.thirds section:nth-child(3n),
#content.hdtv div.thirds section:nth-child(3n) {
  padding-left: 13px;
  padding-right: 0px;
}
#content.docsLite.standard div.thirds:nth-of-type(2n),
#content.hdtv div.thirds:nth-of-type(2n) {
  padding: 0;
}
#content.docsLite.tablet article,
#content.docsLite.smalltablet article,
#content.docsLite.mobile article,
#content.docsLite.standard.pseudotablet article,
#content.docsLite.standard.pseudosmalltablet article,
#content.docsLite.standard.pseudomobile article,
#content.docsLite.hdtv.pseudotablet article,
#content.docsLite.hdtv.pseudosmalltablet article,
#content.docsLite.hdtv.pseudomobile article {
  width: auto;
  padding: 30px 0 20px 0;
}
#content.docsLite.tablet article h2,
#content.docsLite.smalltablet article h2,
#content.docsLite.mobile article h2,
#content.docsLite.standard.pseudotablet article h2,
#content.docsLite.standard.pseudosmalltablet article h2,
#content.docsLite.standard.pseudomobile article h2,
#content.docsLite.hdtv.pseudotablet article h2,
#content.docsLite.hdtv.pseudosmalltablet article h2,
#content.docsLite.hdtv.pseudomobile article h2 {
  padding-right: 0;
}
#content.docsLite.tablet article section,
#content.docsLite.smalltablet article section,
#content.docsLite.mobile article section,
#content.docsLite.standard.pseudotablet article section,
#content.docsLite.standard.pseudosmalltablet article section,
#content.docsLite.standard.pseudomobile article section,
#content.docsLite.hdtv.pseudotablet article section,
#content.docsLite.hdtv.pseudosmalltablet article section,
#content.docsLite.hdtv.pseudomobile article section {
  width: auto;
  padding: 0;
  float: none;
}
#content.docsLite.tablet article h2 + section,
#content.docsLite.smalltablet article h2 + section,
#content.docsLite.mobile article h2 + section,
#content.docsLite.standard.pseudotablet article h2 + section,
#content.docsLite.standard.pseudosmalltablet article h2 + section,
#content.docsLite.standard.pseudomobile article h2 + section,
#content.docsLite.hdtv.pseudotablet article h2 + section,
#content.docsLite.hdtv.pseudosmalltablet article h2 + section,
#content.docsLite.hdtv.pseudomobile article h2 + section {
  margin-top: 20px;
}
#content.docsLite.tablet article section + section,
#content.docsLite.smalltablet article section + section,
#content.docsLite.mobile article section + section,
#content.docsLite.standard.pseudotablet article section + section,
#content.docsLite.standard.pseudosmalltablet article section + section,
#content.docsLite.standard.pseudomobile article section + section,
#content.docsLite.hdtv.pseudotablet article section + section,
#content.docsLite.hdtv.pseudosmalltablet article section + section,
#content.docsLite.hdtv.pseudomobile article section + section {
  margin-top: 20px;
  padding-left: 0;
}
#content.docsLite.tablet article.special,
#content.docsLite.smalltablet article.special,
#content.docsLite.mobile article.special,
#content.docsLite.standard.pseudotablet article.special,
#content.docsLite.standard.pseudosmalltablet article.special,
#content.docsLite.standard.pseudomobile article.special,
#content.docsLite.hdtv.pseudotablet article.special,
#content.docsLite.hdtv.pseudosmalltablet article.special,
#content.docsLite.hdtv.pseudomobile article.special {
  padding: 20px 0;
}
#content.docsLite.tablet article.special .inner,
#content.docsLite.smalltablet article.special .inner,
#content.docsLite.mobile article.special .inner,
#content.docsLite.standard.pseudotablet article.special .inner,
#content.docsLite.standard.pseudosmalltablet article.special .inner,
#content.docsLite.standard.pseudomobile article.special .inner,
#content.docsLite.hdtv.pseudotablet article.special .inner,
#content.docsLite.hdtv.pseudosmalltablet article.special .inner,
#content.docsLite.hdtv.pseudomobile article.special .inner {
  width: auto;
}
#content.docsLite.tablet article.special pre,
#content.docsLite.smalltablet article.special pre,
#content.docsLite.mobile article.special pre,
#content.docsLite.standard.pseudotablet article.special pre,
#content.docsLite.standard.pseudosmalltablet article.special pre,
#content.docsLite.standard.pseudomobile article.special pre,
#content.docsLite.hdtv.pseudotablet article.special pre,
#content.docsLite.hdtv.pseudosmalltablet article.special pre,
#content.docsLite.hdtv.pseudomobile article.special pre {
  border-left: none;
  border-right: none;
}
#content.docsLite.tablet article + article,
#content.docsLite.smalltablet article + article,
#content.docsLite.mobile article + article,
#content.docsLite.standard.pseudotablet article + article,
#content.docsLite.standard.pseudosmalltablet article + article,
#content.docsLite.standard.pseudomobile article + article,
#content.docsLite.hdtv.pseudotablet article + article,
#content.docsLite.hdtv.pseudosmalltablet article + article,
#content.docsLite.hdtv.pseudomobile article + article {
  margin-top: 20px;
}
#content.docsLite.tablet div.thirds section,
#content.docsLite.smalltablet div.thirds section,
#content.docsLite.mobile div.thirds section,
#content.docsLite.standard.pseudotablet div.thirds section,
#content.docsLite.standard.pseudosmalltablet div.thirds section,
#content.docsLite.standard.pseudomobile div.thirds section,
#content.docsLite.hdtv.pseudotablet div.thirds section,
#content.docsLite.hdtv.pseudosmalltablet div.thirds section,
#content.docsLite.hdtv.pseudomobile div.thirds section {
  width: auto;
  padding: 0;
}
#content.docsLite.mobile article.special,
#content.docsLite.standard.pseudomobile article.special,
#content.docsLite.hdtv.pseudomobile article.special {
  padding: 20px;
}
#content.docsLite.mobile article.special pre,
#content.docsLite.standard.pseudomobile article.special pre,
#content.docsLite.hdtv.pseudomobile article.special pre {
  border: 2px solid #38748e;
}
.no-multiplebgs #splash .inner {
  background-image: url('../../images/splashbg.png');
  background-repeat: repeat-x;
  background-postion: top;
}
.no-multiplebgs #content.docsLite article + article {
  border-top: 1px dashed #bac6cc;
}
.no-multiplebgs #content.docsLite article.special {
  border-top: 13px solid #91bc91;
}
.no-multiplebgs #content.docsLite article.special + article {
  border-top: none;
}
.no-backgroundsize #all > .try #devices #pseudomobile {
  background: url('../../images/mobile-large.png') center no-repeat;
}
.no-backgroundsize #all > .try #devices #pseudosmalltablet {
  background: url('../../images/smalltablet-large.png') center no-repeat;
}
.no-backgroundsize #all > .try #devices #pseudotablet {
  background: url('../../images/tablet-large.png') center no-repeat;
}
.no-backgroundsize #all > .try #devices #pseudohdtv {
  background: url('../../images/hdtv-large.png') center no-repeat;
}
.no-backgroundsize body > .try #devices #pseudomobile {
  background: url('../../images/mobile-small.png') center no-repeat;
}
.no-backgroundsize body > .try #devices #pseudosmalltablet {
  background: url('../../images/smalltablet-small.png') center no-repeat;
}
.no-backgroundsize body > .try #devices #pseudotablet {
  background: url('../../images/tablet-small.png') center no-repeat;
}
.no-backgroundsize body > .try #devices #pseudohdtv {
  background: url('../../images/hdtv-small.png') center no-repeat;
}
.no-backgroundsize body > .try #devices .cancel {
  background: url('../../images/cancel-small.png') center no-repeat;
}
