#wmd-input {
	display:none;
}

.wmd-panel {
	width:100%;
	margin:0;
}

.wmd-preview {
	background-color:rgba(255,255,255,0);
}

.wmd-preview code {
	display:block;
	background-color: #e9e9e9;
	font-family: "Courier New", Courier, monospace;
	border: 2px solid #e0e0e0;
	border-radius: 8px;
	width: auto;
	margin-right: 20px;
	margin-top: 20px;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 20px;
	padding-right: 20px;
}
	
