<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><meta charset="utf-8" /> 

	<link href="assets/css/blog.css" rel="stylesheet">
	<link href="assets/css/responsivegrid.css" rel="stylesheet">

   <script type="text/javascript" src="//use.typekit.net/wdy0odx.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<title>{{ title }}</title>

</head>
<body>	

<div class="header"
intent
in-mobile-class="Mheader"
in-tablet-class="header"
in-standard-class="header">
	
	<h1>Intentionjs</h1>
	
	<div class="caps">BLOG</div>

</div>

<div class="nav"
intent
in-mobile-class="placeholder"
in-tablet-class="nav"
in-standard-class="nav">

	<a href="index.html" intent in-mobile-href="index.html#content">MAIN</a>
	
	<a href="documentation.html" intent in-mobile-href="documentation.html#content">DOCUMENTATION</a>	
	
	<a href="examples.html" intent in-mobile-href="examples.html#content">EXAMPLES</a>
	</div>


<div class="content"
intent
in-mobile-class="Mcontent"
in-tablet-class="content"
in-standard-class="content">
{{content}}
</div>


	<script data-main="main" src="test/vendor/require.js"></script>

</body>	
</html>