<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- Used by blog/index.html -->

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>intention.js — {{ title }}</title>
	{% include assets.md dir="../" %}
	<link rel="stylesheet" type="text/css" href="../assets/css/blog.css" />
	<script src="../assets/js/blog.js" type="text/javascript"></script>
</head>
<body intent in-orientation>
<div id="all" intent in-width in-container in-orientation>
	<header intent
		in-container
		in-width>
		<h1><a href="../">intention.js</a></h1>
		<nav>
			<ul>
				{% include nav.md dir="../" cur="blog" %}
			</ul>
		</nav>
	</header>
	<section id="heading" intent 
		in-container
		in-width> <!-- Hide this functionality on *real* mobile devices but not on faked ones-->
		<div class="inner">
			<h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
		</div>
	</section>
	<nav id="topNav" class="tagNav" intent in-width>
		<div class="inner">
			<a class="example" href="tagged/example.html">Examples</a>
			<a class="release" href="tagged/release.html">Releases</a>
			<!--<a class="update" href="tagged/update.html">Updates</a>--> <!-- commented until we have an actual update post to warrant a link -->
		</div>
	</nav>
	<section id="content" class="blog" intent in-width in-container in-orientation>
		<div class="inner" class="clearFix">
			{{ content }}
		</div>
		
	</section>
	{% include footer.md %}
</div>
<script src="../assets/js/context.js" type="text/javascript"></script>
</body>
</html>