<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>intention.js</title>
    <link rel="stylesheet" type="text/css" href="assets/css/index.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/mini-example.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/code-image.css" />
    {% include assets.md dir="./" %}
    <script src="assets/js/home.js" type="text/javascript"></script>
    <script src="assets/js/raphael.js" type="text/javascript"></script>
    <script src="assets/js/mini-example.js" type="text/javascript"></script>
    <script src="assets/js/codeimage.js" type="text/javascript"></script>
  </head>
  <body intent in-orientation>
    <div id="all" intent in-width in-container in-orientation>
      <div id="scrollWrapper" intent in-width>
	<header intent
		in-container
		in-width>
	  <h1><a href="#">intention.js</a></h1>
	  <nav>
	    <ul>
	      {% include nav.md dir="./" cur="docs" %}
	    </ul>
	  </nav>
	</header>

	{%include introSection.md %}
   	<section id="content" class="docsLite" intent in-width in-container in-orientation in-stickdepth>
   		<nav id="topNav" intent in-width in-container in-orientation in-stickdepth>
   			<div class="inner">
   				<ul class="nav_deck" id="sections"></ul>
   				<ul id="prevnext">
   					<li id="prev">&uarr;</li>
   					<li id="next">&darr;</li>
   				</ul>
   			</div>
   		</nav>
          <div id="docs">
            <article id="basics" class="equalize" data-pattern="2">
              <h2 alt="The Basics">Let's start with the basics, though.</h2>
              <section>
                <h3 alt="Thresholds, Axes, Contexts">Thresholds, Axes, &amp; Contexts</h3>
                <p>Intention.js works by determining what are called “threshold groups”. These threshold groups define  the context in which a user is viewing your site. Threshold groups work by measuring an axis, like the browser’s width or the device’s pixel density (for high resolution screens).</p>
                <p>A lot of these contexts are predictable, and a common pattern of them are included in a handy implementation of intention.js called context.js</p>
                <pre><span class="comment"><i>Axis</i></span>

   - <i>context_name, value</i></span>

width <span class="comment">(a window of at least <i>x</i> pixels wide)</span>
   - mobile, 0
   - tablet, 510
   - standard, 840
orientation <span class="comment">(degree of window.rotation)</span>
   - portrait, 0
   - landscape, 90
touch <span class="comment">(window.ontouchstart boolean)</span>
   - touch, true
highres <span class="comment">(devicePixelRatio > 1)</span>
   - highres, true</pre>

        </section>
        <section>
          <h3 alt="Manipulations">Methods</h3>
          <p>intention.js has three basic manipulations: attribution manipulations, class manipulations, and placement manipulations. With these three, you can change the value of any attribute, add or remove an element’s class, and adjust the position of an element within the structure of the document. </p>

          <p>Intention.js comes with Context.js, which provides you with some commonly used context groups (or <i>axes</i>). It includes:</p>


        </section>

      </article>
      <article id="concept" class="highlight clearFix">
        <div class="inner clearFix" data-pattern="2">
          <section intent in-pseudostandard-before="#customPitch" in-pseudohdtv-before="#customPitch"
	           in-pseudotablet-after="#customPitch" in-pseudosmalltablet-after="#customPitch" in-pseudomobile-after="#customPitch"
	           in-standard-before="#customPitch" in-hdtv-before="#customPitch"
	           in-tablet-after="#customPitch" in-smalltablet-after="#customPitch" in-mobile-after="#customPitch">
            <div id="timeExample" intent in-time> </div>

            {%highlight html%}
            <div id="timeExample" intent in-time></div>
            {%endhighlight%}
            <span class="comment">...</span>
            {%highlight js%}
  var time = intent.responsive({
    ID: 'time',
    contexts: [
      {name:'night',min:20},
      {name:'evening',min:17},
      {name:'sunset',min:16},
      {name:'day',min:9},
      {name:'morning',min:0}
    ],
    matcher: function(test, context) {
      return test >= context.min;
    },
    measure: function(arg) {
      var time = new Date();
      return time.getHours();
    }
  });

time.respond(); //check the current context
              {%endhighlight%}

          </section>

<p>Try it</p>
time.respond('<select id="timeChange"><option></option><option value="night">night</option><option value="evening">evening</option><option value="sunset">sunset</option><option value="day">day</option><option value="morning">morning</option></select>');


          <section id="customPitch">
            <h3>Intention.js responds to a bunch of device contexts, but it’s open to any index. You can create custom contexts based on anything you can measure, and restructure your code in response!</h3>
            <p>It’s not just changing a page based on the browser’s width: it’s noticing touch-capabilities, portrait/landscape orientation, high resolution contexts. Intention.js can be taught to restructure pages based on scroll depth, pageviews, time of day—basically anything!</p>
          </section>
        </div>
      </article>
      <article class="equalize" data-pattern="2">
        <h2>Usage</h2>
        <section>
          <p>Giving Intention.js instructions is as easy as flagging the element as "intentional" and giving it an intentional attribute.</p>

          <pre>&lt;div intent in-mobile&gt;</pre>

          <p><i>For the purposes of documentation, <code>in-</code> will be used instead of the proper HTML-valid <code>data-in-</code>.</i></p>
        </section>
        <section>
          <h3>Dependencies</h3>
          <p>Intention.js requires jQuery and Underscore.js to work. You can download and link to them manually, or you can include them via require.</p>
          <pre>&lt;script
   data-main="assets/js/context"
   src="assets/js/require/require.js"&gt;
&lt;/script&gt;</pre>
        </section>
        <section>
          <h3>This becomes</h3>
          <pre id="input">code code code</pre>
        </section>
        <div id="typesOfManip" class="thirds clearFix" intent in-width in-container in-touch in-touch-class="swipe">
          <section>
            <h5>on mobile</h5>
            <pre id="mobileOut">One
This code snippet will show
how the first code will look
on a mobile device.
Basically, just with a ".mobile"
class applied to it
Or a rearranged element.</pre>
         </section>
         <section>
            <h5>on tablets</h5>
            <pre id="tabletOut">two
	      Then how bout
	      This














            </pre>
         </section>
          <section>
             <h5>on desktops</h5>
             <pre id="stdOut">three</pre>
          </section>
        </div>
        <article>
          <h3>Compatibility</h3>
          <section></section>
        </article>
      </article>

      <article>
        <h2>Manipulations</h2>

        <article class="equalize" data-pattern="2">
          <h3>Class Manipulations</h3>
          <section>
            <p>The simplest intentional attribute is a class manipulation. This manipulation adds the current context as a class to the element. Adding <code>in-axis_name</code> to a flagged element is enough to get it working.</p>
          </section>
          <section>
            <pre>&lt;img intent in-orientation src="a.jpg" /></pre>
            <p>&darr; &darr; &darr;</p>
            <pre><span class="comment">//In portrait orientation</span>
&lt;img class="portrait" src="a.jpg" /&gt;

<span class="comment">//In landscape orientation</span>
&lt;img class="landscape" src="a.jpg" /&gt;</pre>
          </section>
          <section>
            <p>Intention does not touch attributes that are assigned outside of <code>in-</code> commands — so</p>
            <pre>&lt;div class="foo" intent in-width /&gt;</pre>
            <p>will keep it's class <code>foo</code> regardless of what <code>horizontal_axis</code> context is passed.</p>
          </section>
        </article>

        <article class="equalize" data-pattern="2">
          <h3>Attribute Manipulation</h3>
          <section>
            <p>Intention.js can also manipulate an element's attributes with more specificity than just class manipulations. Set a base (default) attribute in case no contexts are met, then specify context-specific attribute values.</p>
          </section>
          <section>
            <pre>&lt;img intent
   in-base-src="reg_img.png"
   in-highres-src="big_img.png" /&gt;</pre>
            <p>&darr; &darr; &darr;</p>
            <pre><span class="comment">//On regular devices</span>
&lt;img src="reg_img.png" /&gt;

<span class="comment">//On retina displays</span>
&lt;img src="big_img.png" /&gt;</pre>
          </section>
          <section>
            <p>Attribute manipulation can used for more specific class manipulations, too.</p>

            <pre>&lt;section intent
   in-mobile-class="narrow"
   in-tablet-class="medium"
   in-standard-class="wide" /&gt;</pre>
          </section>
        </article>

        <article class="equalize" data-pattern="2">
          <h3>Placement Manipulation</h3>
          <section>
            <p>Intention.js makes it possible to rearrange elements about a page depending on the context. </p>
            <p>Suppose we want to demote the status of the navigation when the user is on smaller devices. The following specification on the navigation might do what we need:</p>
            <pre>&lt;header&gt;
   &lt;nav intent
      in-mobile-prepend="footer"
      in-tablet-append="section"
      in-standard-append="header"&gt;
   &lt;/nav&gt;
   &lt;section&gt; <span class="comment">...</span> &lt;/section&gt;
   &lt;footer&gt; <span class="comment">...</span> &lt;/footer&gt;
&lt;/header&gt;</pre>

            <p>When the device is 320px wide or less, the navigation will at the top of the footer. When the device is between 321px and 768px wide, it will appear right below the <code>&lt;section&gt;</code>. Obviously, in larger displays (wider than 769px) the navigation at the end of the <code>&lt;header&gt;</code>.</p>
            <p> </p>
            <h3>Move functions</h3>
            <p>Intention.js provides four basic functions for rearranging elements. They include:</p>
            <pre>- prepend
- append
- before
- after</pre>
            <p>These function just like jQuery DOM manipulations.</p>
            <pre>intent in-context_name-move_function="selector"</pre>
            <p>Selectors can be general element selections like above (<code>...prepend="footer"</code>), or specific (<code>...prepend="#intro"</code>).</p>
          </section>
          <section intent in-standard-class="show" in-mobile-class="hide" in-smalltablet-class="hide" in-tablet-class="hide"> <!--You could probably just use in-touch-class when that starts working again.-->
            <div id="resizeExample">
	      <div id="resizable">
	        <div id="miniFade"></div>
	        <div class="orange" intent in-mini_example>
	          <div id="orange1">Play with me</div>
	          <div id="orange2"></div>
	        </div>
	        <div class="blue" intent in-mini_example in-small-before="#orange2" in-large-after=".orange"></div>
	        <div class="green" intent in-mini_example in-small-after=".orange" in-large-append=".blue">
	          <div id="green1"><a intent in-small-href="http://thisissmall.gov" in-large-href="http://wowthisishuge.info">A</a></div>
	          <div id="green2">B</div>
	          <div id="green3">C</div>
	        </div>
	      </div>
            </div>
            <pre id="resizeCode">&lt;div id="resizable"&gt;
   &lt;div class="orange" <span class="white">intent in-mini</span>&gt;
      &lt;div id="orange1"&gt; Play with me &lt;/div&gt;
      &lt;div id="orange2"&gt; &lt;/div&gt;
   &lt;/div&gt;
   &lt;div class="blue" <span class="white">intent in-mini</span>
      <span class="greenLight">in-avg-before="#orange2"</span>
      <span class="orangeDark">in-large-after=".orange"&gt;</span> &lt;/div&gt;
   &lt;div class="green" <span class="white">intent in-mini</span>
      <span class="greenLight">in-avg-after=".orange"</span>
      <span class="orangeDark">in-large-append=".blue"&gt;</span>
      &lt;div id="green1"&gt;
         &lt;a <span class="white">intent</span>
         <span class="greenLight">in-avg-href="#average"</span>
         <span class="orangeDark">in-large-href="#large"&gt;</span> A &lt;/a&gt;
      &lt;/div&gt;
      &lt;div id="green2"&gt; B &lt;/div&gt;
      &lt;div id="green3"&gt; C &lt;/div&gt;
   &lt;/div&gt;
&lt;/div&gt;

&lt;script&gt;
   var mini = intent.responsive({
      <span class="white">ID: 'mini',</span>
      contexts: [
         <span class="orangeDark">{name:"large",min:300},</span>
         <span class="greenLight">{name:"avg",min:75}</span>
      ],
      matcher: function(test, context) {
         return test &gt;= context.min;
      },
      measure:function(arg) {
         return $("#resizable").width();
      }
   }).respond();
<span class="comment">//'resize' is a jQueryUI event</span>
$('#resizable').on('resize', mini.respond);
&lt;/script&gt;</pre>
          </section>
        </article>


      </article>


      <article class="equalize" data-pattern="2">
        <h2>About</h2>
        <section>
          <p>Intention.js was developed by Joe Kendall with contributions from Erin Sparling, Adrian Lafond, and Mike Stamm. Major contributions to documentation and examples were provided by Camila Mercado and Paul Pangrazzi </p>
        </section>
        <article>
          <h3>Questions, Support</h3>
          <section>
            <p>Feel like chattin' about all this? <a href="mailto:joe.kendall@dowjones.com">Shoot us an email</a> or get in contact with us on <a href="https://twitter.com/intentionjs">Twitter (@intentionjs)</a>. Of course, there's also <a href="https://github.com/wsjdesign/intentionjs">our GitHub</a>, too.</p>
          </section>
        </article>
        <article>
          <h3>License</h3>
          <section>
            <pre>// MIT licesnse for everything

// Copyright (c) 2012 The Wall Street Journal,
// http://wsj.com/

// Permission is hereby granted, free of charge, to any person obtaining
// a copy of this software and associated documentation files (the
// "Software"), to deal in the Software without restriction, including
// without limitation the rights to use, copy, modify, merge, publish,
// distribute, sublicense, and/or sell copies of the Software, and to
// permit persons to whom the Software is furnished to do so, subject to
// the following conditions:

// The above copyright notice and this permission notice shall be
// included in all copies or substantial portions of the Software.

// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
// EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
// MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
// NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
// LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
// OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
// WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</pre>
          </section>
        </article>
      </article>


    </div>




  </section>
  {% include footer.md %}
</div>
</div>
<!--<script src="assets/js/init.js" type="text/javascript"></script>-->
<script src="assets/js/context.js" type="text/javascript"></script>
</body>
</html>
