<!DOCTYPE html>

<!-- Used by /YYYY/MM/DD/ (3 sub directories) -->

<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
      <title>intention.js — {{ page.title }}</title>
      {% include assets.md %}
      <link rel="stylesheet" type="text/css" href="/assets/css/blog.css" />
      <script src="/assets/js/post.js" type="text/javascript"></script>
  </head>
  <body intent in-orientation:>
    <div id="all" intent in-width: in-orientation:>
      <header intent in-width: in-orientation:>
      	<h1><a href="/#">intention.js</a></h1>
         <nav>
            <ul>
      	    {% include nav.md cur="blog" %}
      	  </ul>
      	</nav>
      </header>
      <section id="heading" intent in-width: in-orientation:>
      	<div class="inner">
            <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
      	</div>
      </section>
      <section id="content" class="blog post" intent in-width:  in-orientation:>
      	<div class="inner">
            <section class="header">
               {% if page.sub %}<h3>{{ page.sub }}</h3>{% endif %}
               <p class="meta"><a href="{{ page.url }}">{{ page.date | date: "%B %d, %Y" }}</a></p><p class="tags">{% for tags in page.tags %}<a href="../../../blog/tagged/{{ tags }}.html" class="{{ tags }}">{{ tags }}</a> {% endfor %}</p>
               {% if page.demo %}<h4 class="seeDemo"><a href="{{ page.demo }}" target="_blank">See Demo</a></h4>{% endif %}
            </section>
            {% if page.img %}
               <section class="img">
                  <div class="inner">
                     <img src="{{ site.images }}/{{ page.img }}" />
                  </div>
               </section>
            {% endif %}
            <article>{{ content }}</article>
         </div>
         <section class="footer">
            <div class="inner">
               <h4><a href="../../../blog">&larr; Go back</a></h4>
            </div>
         </section>
      </section>
      <footer intent in-width: in-orientation:>
         {% include footer.md %}
      </footer>
   </div>
    
   <script src="/assets/js/context.setup.js" type="text/javascript"></script>
   <script src="/assets/js/init.js" type="text/javascript"></script>
    
   </body>
</html>
