<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><meta charset="utf-8" /> 

	<link href="/assets/css/blog.css" rel="stylesheet">
	<link href="/assets/css/responsivegrid.css" rel="stylesheet">
	<link href="/assets/css/github-flavored-markdown.css" rel="stylesheet">

   <script type="text/javascript" src="//use.typekit.net/wdy0odx.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<title>{{ title }}</title>

</head>
<body>	

<div class="header"
intent
in-mobile-class="Mheader"
in-tablet-class="header"
in-standard-class="header">
	
	<h1>Intentionjs</h1>
	
	
	<div class="caps"
	intent
	in-mobile-class="Mcaps"
	in-tablet-class="caps"
	in-standard-class="caps">BLOG</div>

</div>
	

<div class="nav"
intent
in-mobile-class="Mnav"
in-tablet-class="nav"
in-standard-class="nav">

	<a href="/index.html" intent in-mobile-href="index.html#content">MAIN</a>
	
	<a href="/documentation.html" intent in-mobile-href="documentation.html#content">DOCUMENTATION</a>	
	
	<a href="/examples.html" intent in-mobile-href="examples.html#content">EXAMPLES</a>
	</div>


<div class="content"
intent
in-mobile-class="Mcontent"
in-tablet-class="content"
in-standard-class="content">
{{content}}
</div>


	<script data-main="/main" src="/test/vendor/require.js"></script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-39164806-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>	
</html>