<!DOCTYPE html>

<!-- Used by /blog/tagged/ (2 sub directories)  -->

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>intention.js — {{ page.tag }}s</title>
	{% include assets.md %}
	<link rel="stylesheet" type="text/css" href="/assets/css/blog.css" />
</head>
<body intent in-orientation:>
<div id="all" class="standard" intent in-width: in-orientation:>
	<header class="standard" intent
		in-width:>
		<h1><a href="../../">intention.js</a> {{ page.sub }}</h1>
		<nav>
			<ul>
				{% include nav.md cur="blog" tag=page.tag %}
			</ul>
		</nav>
	</header>
	<section id="heading" class="standard" intent 
		in-width:> <!-- Hide this functionality on *real* mobile devices but not on faked ones-->
		<div class="inner">
			<h2><a href="../index.html">{{ page.title }}</a></h2>
		</div>
	</section>
	<section id="content" class="blog post standard" intent in-width:  in-orientation:>
		<section id="filter" class="{{ page.tag }} standard" intent in-width:  in-orientation:>Only showing <b>{{ page.tag }}</b> posts. <h4><a href="../index.html">&larr; Go back</a></h4></section>
		<div class="inner"  class="clearFix">
			{{ content }}
		</div>
		
	</section>
	<footer class="standard" intent in-width: in-orientation:>
   	{% include footer.md %}
	</footer>
</div>

<script src="/assets/js/context.setup.js" type="text/javascript"></script>
<script src="/assets/js/init.js" type="text/javascript"></script>
<script type="text/javascript">

 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-39164806-1']);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();
</script>
</body>
</html>